@-webkit-keyframes zoom-in {
    from {
        opacity: 0;
        -webkit-transform: scale(0);
    }
    to {
        -webkit-transform: scale(1);
        opacity: 1;
    }
}

@-moz-keyframes zoom-in {
    from {
        opacity: 0;
        -moz-transform: scale(0);
    }
    to {
        -moz-transform: scale(1);
        opacity: 1;
    }
}

@-ms-keyframes zoom-in {
    from {
        opacity: 0;
        -ms-transform: scale(0);
    }
    to {
        -ms-transform: scale(1);
        opacity: 1;
    }
}

@-o-keyframes zoom-in {
    from {
        opacity: 0;
        -o-transform: scale(0);
    }
    to {
        -o-transform: scale(1);
        opacity: 1;
    }
}

@keyframes zoom-in {
    from {
        opacity: 0;
        transform: scale(0);
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}

@-webkit-keyframes zoom-out {
    from {
        opacity: 1;
        -webkit-transform: scale(1);
    }
    to {
        -webkit-transform: scale(0);
        opacity: 0;
    }
}

@-moz-keyframes zoom-out {
    from {
        opacity: 1;
        -moz-transform: scale(1);
    }
    to {
        -moz-transform: scale(0);
        opacity: 0;
    }
}

@-ms-keyframes zoom-out {
    from {
        opacity: 1;
        -ms-transform: scale(1);
    }
    to {
        -ms-transform: scale(0);
        opacity: 0;
    }
}

@-o-keyframes zoom-out {
    from {
        opacity: 1;
        -o-transform: scale(1);
    }
    to {
        -o-transform: scale(0);
        opacity: 0;
    }
}

@keyframes zoom-out {
    from {
        opacity: 1;
        transform: scale(1);
    }
    to {
        transform: scale(0);
        opacity: 0;
    }
}

@-webkit-keyframes bounce-in {
    0% {
        margin-bottom: -50rem;
    }
    10% {
        margin-bottom: -0.5rem;
    }
    20% {
        margin-bottom: 2.5rem;
    }
    30% {
        margin-bottom: -0.45rem;
    }
    40% {
        margin-bottom: 1.5rem;
    }
    50% {
        margin-bottom: 0.25rem;
    }
    60% {
        margin-bottom: -0.2rem;
    }
    70% {
        margin-bottom: 0.15rem;
    }
    80% {
        margin-bottom: -0.15rem;
    }
    90% {
        margin-bottom: 0.1rem;
    }
    100% {
        margin-bottom: 0rem;
    }
}

@-moz-keyframes bounce-in {
    0% {
        margin-bottom: -50rem;
    }
    10% {
        margin-bottom: -0.5rem;
    }
    20% {
        margin-bottom: 2.5rem;
    }
    30% {
        margin-bottom: -0.45rem;
    }
    40% {
        margin-bottom: 1.5rem;
    }
    50% {
        margin-bottom: 0.25rem;
    }
    60% {
        margin-bottom: -0.2rem;
    }
    70% {
        margin-bottom: 0.15rem;
    }
    80% {
        margin-bottom: -0.15rem;
    }
    90% {
        margin-bottom: 0.1rem;
    }
    100% {
        margin-bottom: 0rem;
    }
}

@-ms-keyframes bounce-in {
    0% {
        margin-bottom: -50rem;
    }
    10% {
        margin-bottom: -0.5rem;
    }
    20% {
        margin-bottom: 2.5rem;
    }
    30% {
        margin-bottom: -0.45rem;
    }
    40% {
        margin-bottom: 1.5rem;
    }
    50% {
        margin-bottom: 0.25rem;
    }
    60% {
        margin-bottom: -0.2rem;
    }
    70% {
        margin-bottom: 0.15rem;
    }
    80% {
        margin-bottom: -0.15rem;
    }
    90% {
        margin-bottom: 0.1rem;
    }
    100% {
        margin-bottom: 0rem;
    }
}

@-o-keyframes bounce-in {
    0% {
        margin-bottom: -50rem;
    }
    10% {
        margin-bottom: -0.5rem;
    }
    20% {
        margin-bottom: 2.5rem;
    }
    30% {
        margin-bottom: -0.45rem;
    }
    40% {
        margin-bottom: 1.5rem;
    }
    50% {
        margin-bottom: 0.25rem;
    }
    60% {
        margin-bottom: -0.2rem;
    }
    70% {
        margin-bottom: 0.15rem;
    }
    80% {
        margin-bottom: -0.15rem;
    }
    90% {
        margin-bottom: 0.1rem;
    }
    100% {
        margin-bottom: 0rem;
    }
}

@keyframes bounce-in {
    0% {
        margin-bottom: -50rem;
    }
    10% {
        margin-bottom: -0.5rem;
    }
    20% {
        margin-bottom: 2.5rem;
    }
    30% {
        margin-bottom: -0.45rem;
    }
    40% {
        margin-bottom: 1.5rem;
    }
    50% {
        margin-bottom: 0.25rem;
    }
    60% {
        margin-bottom: -0.2rem;
    }
    70% {
        margin-bottom: 0.15rem;
    }
    80% {
        margin-bottom: -0.15rem;
    }
    90% {
        margin-bottom: 0.1rem;
    }
    100% {
        margin-bottom: 0rem;
    }
}

@-webkit-keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-moz-keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-ms-keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-o-keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-webkit-keyframes fade-out {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-moz-keyframes fade-out {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-ms-keyframes fade-out {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@-o-keyframes fade-out {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes fade-out {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes art-fonts {
    0% {
        font-family: 'Shizuru-Regular';
    }
    20% {
        font-family: 'Arcane-Nine-Regular';
    }
    40% {
        font-family: 'Licorice-Regular';
    }
    80% {
        font-family: 'VALORANT-Regular';
    }
    100% {
        font-family: 'Shizuru-Regular';
    }
}

@-webkit-keyframes art-fonts {
    0% {
        font-family: 'Shizuru-Regular';
    }
    20% {
        font-family: 'Arcane-Nine-Regular';
    }
    40% {
        font-family: 'Licorice-Regular';
    }
    80% {
        font-family: 'VALORANT-Regular';
    }
    100% {
        font-family: 'Shizuru-Regular';
    }
}

@-moz-keyframes art-fonts {
    0% {
        font-family: 'Shizuru-Regular';
    }
    20% {
        font-family: 'Arcane-Nine-Regular';
    }
    40% {
        font-family: 'Licorice-Regular';
    }
    80% {
        font-family: 'VALORANT-Regular';
    }
    100% {
        font-family: 'Shizuru-Regular';
    }
}

@-ms-keyframes art-fonts {
    0% {
        font-family: 'Shizuru-Regular';
    }
    20% {
        font-family: 'Arcane-Nine-Regular';
    }
    40% {
        font-family: 'Licorice-Regular';
    }
    80% {
        font-family: 'VALORANT-Regular';
    }
    100% {
        font-family: 'Shizuru-Regular';
    }
}

@-o-keyframes art-fonts {
    0% {
        font-family: 'Shizuru-Regular';
    }
    20% {
        font-family: 'Arcane-Nine-Regular';
    }
    40% {
        font-family: 'Licorice-Regular';
    }
    80% {
        font-family: 'VALORANT-Regular';
    }
    100% {
        font-family: 'Shizuru-Regular';
    }
}

@keyframes art-fonts {
    0% {
        font-family: 'Shizuru-Regular';
    }
    20% {
        font-family: 'Arcane-Nine-Regular';
    }
    40% {
        font-family: 'Licorice-Regular';
    }
    80% {
        font-family: 'VALORANT-Regular';
    }
    100% {
        font-family: 'Shizuru-Regular';
    }
}

@-webkit-keyframes blink {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@-moz-keyframes blink {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@-ms-keyframes blink {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@-o-keyframes blink {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes blink {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@-webkit-keyframes slide-in {
    from {
        -webkit-transform: translateX(100vw);
    }
    to {
        -webkit-transform: translateX(0);
    }
}

@-moz-keyframes slide-in {
    from {
        -moz-transform: translateX(100vw);
    }
    to {
        -moz-transform: translateX(0);
    }
}

@-ms-keyframes slide-in {
    from {
        -ms-transform: translateX(100vw);
    }
    to {
        -ms-transform: translateX(0);
    }
}

@-o-keyframes slide-in {
    from {
        -o-transform: translateX(100vw);
    }
    to {
        -o-transform: translateX(0);
    }
}

@keyframes slide-in {
    from {
        transform: translateX(100vw);
    }
    to {
        transform: translateX(0);
    }
}

@-webkit-keyframes slide-in-reverse {
    from {
        -webkit-transform: translateX(-100vw);
    }
    to {
        -webkit-transform: translateX(0);
    }
}

@-moz-keyframes slide-in-reverse {
    from {
        -moz-transform: translateX(-100vw);
    }
    to {
        -moz-transform: translateX(0);
    }
}

@-ms-keyframes slide-in-reverse {
    from {
        -ms-transform: translateX(-100vw);
    }
    to {
        -ms-transform: translateX(0);
    }
}

@-o-keyframes slide-in-reverse {
    from {
        -o-transform: translateX(-100vw);
    }
    to {
        -o-transform: translateX(0);
    }
}

@keyframes slide-in-reverse {
    from {
        transform: translateX(-100vw);
    }
    to {
        transform: translateX(0);
    }
}

@-webkit-keyframes slide-out {
    from {
        -webkit-transform: translateX(0);
    }
    to {
        -webkit-transform: translateX(-100vw);
    }
}

@-moz-keyframes slide-out {
    from {
        -moz-transform: translateX(0);
    }
    to {
        -moz-transform: translateX(-100vw);
    }
}

@-ms-keyframes slide-out {
    from {
        -ms-transform: translateX(0);
    }
    to {
        -ms-transform: translateX(-100vw);
    }
}

@-o-keyframes slide-out {
    from {
        -o-transform: translateX(0);
    }
    to {
        -o-transform: translateX(-100vw);
    }
}

@keyframes slide-out {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100vw);
    }
}

@-webkit-keyframes slide-out-reverse {
    from {
        -webkit-transform: translateX(0);
    }
    to {
        -webkit-transform: translateX(100vw);
    }
}

@-moz-keyframes slide-out-reverse {
    from {
        -moz-transform: translateX(0);
    }
    to {
        -moz-transform: translateX(100vw0);
    }
}

@-ms-keyframes slide-out-reverse {
    from {
        -ms-transform: translateX(0);
    }
    to {
        -ms-transform: translateX(100vw);
    }
}

@-o-keyframes slide-out-reverse {
    from {
        -o-transform: translateX(0);
    }
    to {
        -o-transform: translateX(100vw);
    }
}

@keyframes slide-out-reverse {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(100vw);
    }
}

@-webkit-keyframes descend-in-reverse {
    from {
        -webkit-transform: translateY(100vh);
    }
    to {
        -webkit-transform: translateY(0);
    }
}

@-moz-keyframes descend-in-reverse {
    from {
        -moz-transform: translateY(100vh);
    }
    to {
        -moz-transform: translateY(0);
    }
}

@-ms-keyframes descend-in-reverse {
    from {
        -ms-transform: translateY(100vh);
    }
    to {
        -ms-transform: translateY(0);
    }
}

@-o-keyframes descend-in-reverse {
    from {
        -o-transform: translateY(100vh);
    }
    to {
        -o-transform: translateY(0);
    }
}

@keyframes descend-in-reverse {
    from {
        transform: translateY(100vh);
    }
    to {
        transform: translateY(0);
    }
}

@-webkit-keyframes descend-out-reverse {
    from {
        -webkit-transform: translateY(0);
    }
    to {
        -webkit-transform: translateY(100vh);
    }
}

@-moz-keyframes descend-out-reverse {
    from {
        -moz-transform: translateY(0);
    }
    to {
        -moz-transform: translateY(100vh);
    }
}

@-ms-keyframes descend-out-reverse {
    from {
        -ms-transform: translateY(0);
    }
    to {
        -ms-transform: translateY(100vh);
    }
}

@-o-keyframes descend-out-reverse {
    from {
        -o-transform: translateY(0);
    }
    to {
        -o-transform: translateY(100vh);
    }
}

@keyframes descend-out-reverse {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(100vh);
    }
}

@-webkit-keyframes descend-in {
    from {
        -webkit-transform: translateY(-100vh);
    }
    to {
        -webkit-transform: translateY(0);
    }
}

@-moz-keyframes descend-in {
    from {
        -moz-transform: translateY(-100vh);
    }
    to {
        -moz-transform: translateY(0);
    }
}

@-ms-keyframes descend-in {
    from {
        -ms-transform: translateY(-100vh);
    }
    to {
        -ms-transform: translateY(0);
    }
}

@-o-keyframes descend-in {
    from {
        -o-transform: translateY(-100vh);
    }
    to {
        -o-transform: translateY(0);
    }
}

@keyframes descend-in {
    from {
        transform: translateY(-100vh);
    }
    to {
        transform: translateY(0);
    }
}

@-webkit-keyframes descend-out {
    from {
        -webkit-transform: translateY(0);
    }
    to {
        -webkit-transform: translateY(-100vh);
    }
}

@-moz-keyframes descend-out {
    from {
        -moz-transform: translateY(0);
    }
    to {
        -moz-transform: translateY(-100vh);
    }
}

@-ms-keyframes descend-out {
    from {
        -ms-transform: translateY(0);
    }
    to {
        -ms-transform: translateY(-100vh);
    }
}

@-o-keyframes descend-out {
    from {
        -o-transform: translateY(0);
    }
    to {
        -o-transform: translateY(-100vh);
    }
}

@keyframes descend-out {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(-100vh);
    }
}

@-webkit-keyframes ascend-in {
    from {
        -webkit-transform: translateY(-100vh);
    }
    to {
        -webkit-transform: translateY(0);
    }
}

@-moz-keyframes ascend-in {
    from {
        -moz-transform: translateY(300vh);
    }
    to {
        -moz-transform: translateY(0);
    }
}

@-ms-keyframes ascend-in {
    from {
        -ms-transform: translateY(300vh);
    }
    to {
        -ms-transform: translateY(0);
    }
}

@-o-keyframes ascend-in {
    from {
        -o-transform: translateY(300vh);
    }
    to {
        -o-transform: translateY(0);
    }
}

@keyframes ascend-in {
    from {
        transform: translateY(300vh);
    }
    to {
        transform: translateY(0);
    }
}

@keyframes ascend-out {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(300vh);
    }
}

@-webkit-keyframes t-potto {
    from {
        -webkit-transform: rotate(0);
    }
    to {
        -webkit-transform: rotate(-25deg);
    }
}

@-moz-keyframes t-potto {
    from {
        -moz-transform: rotate(0);
    }
    to {
        -moz-transform: rotate(-25deg);
    }
}

@-ms-keyframes t-potto {
    from {
        -ms-transform: rotate(0);
    }
    to {
        -ms-transform: rotate(-25deg);
    }
}

@-o-keyframes t-potto {
    from {
        -o-transform: rotate(0);
    }
    to {
        -o-transform: rotate(-25deg);
    }
}

@keyframes t-potto {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(-25deg);
    }
}

@-webkit-keyframes explode {
    from {
        border-radius: 100%;
    }
    to {
        border-radius: inherit;
    }
}

@-moz-keyframes explode {
    from {
        border-radius: 100%;
    }
    to {
        border-radius: inherit;
    }
}

@-ms-keyframes explode {
    from {
        border-radius: 100%;
    }
    to {
        border-radius: inherit;
    }
}

@-o-keyframes explode {
    from {
        border-radius: 100%;
    }
    to {
        border-radius: inherit;
    }
}

@keyframes explode {
    from {
        border-radius: 100%;
    }
    to {
        border-radius: inherit;
    }
}

@-webkit-keyframes implode {
    from {
        border-radius: inherit;
    }
    to {
        border-radius: 100%;
    }
}

@-moz-keyframes implode {
    from {
        border-radius: inherit;
    }
    to {
        border-radius: 100%;
    }
}

@-ms-keyframes implode {
    from {
        border-radius: inherit;
    }
    to {
        border-radius: 100%;
    }
}

@-o-keyframes implode {
    from {
        border-radius: inherit;
    }
    to {
        border-radius: 100%;
    }
}

@keyframes implode {
    from {
        border-radius: inherit;
    }
    to {
        border-radius: 100%;
    }
}

@-webkit-keyframes expand-sideways {
    from {
        -webkit-transform: scaleX(0);
    }
    to {
        -webkit-transform: scaleX(100%);
    }
}

@-moz-keyframes expand-sideways {
    from {
        -moz-transform: scaleX(0);
    }
    to {
        -moz-transform: scaleX(100%);
    }
}

@-ms-keyframes expand-sideways {
    from {
        -ms-transform: scaleX(0);
    }
    to {
        -ms-transform: scaleX(100%);
    }
}

@-o-keyframes expand-sideways {
    from {
        -o-transform: scaleX(0);
    }
    to {
        -o-transform: scaleX(100%);
    }
}

@keyframes expand-sideways {
    from {
        transform: scaleX(0);
    }
    to {
        transform: scaleX(100%);
    }
}

@media only screen and (min-width: 801px) {
    @-webkit-keyframes bounce-in {
        0% {
            margin-bottom: -100vh;
        }
        10% {
            margin-bottom: -1vh;
        }
        20% {
            margin-bottom: 5vh;
        }
        30% {
            margin-bottom: -0.7vh;
        }
        40% {
            margin-bottom: 3vh;
        }
        50% {
            margin-bottom: 0.5vh;
        }
        60% {
            margin-bottom: -0.4vh;
        }
        70% {
            margin-bottom: 0.3vh;
        }
        80% {
            margin-bottom: -0.3vh;
        }
        90% {
            margin-bottom: 0.2vh;
        }
        100% {
            margin-bottom: 0vh;
        }
    }

    @-moz-keyframes bounce-in {
        0% {
            margin-bottom: -100vh;
        }
        10% {
            margin-bottom: -1vh;
        }
        20% {
            margin-bottom: 5vh;
        }
        30% {
            margin-bottom: -0.7vh;
        }
        40% {
            margin-bottom: 3vh;
        }
        50% {
            margin-bottom: 0.5vh;
        }
        60% {
            margin-bottom: -0.4vh;
        }
        70% {
            margin-bottom: 0.3vh;
        }
        80% {
            margin-bottom: -0.3vh;
        }
        90% {
            margin-bottom: 0.2vh;
        }
        100% {
            margin-bottom: 0vh;
        }
    }

    @-ms-keyframes bounce-in {
        0% {
            margin-bottom: -100vh;
        }
        10% {
            margin-bottom: -1vh;
        }
        20% {
            margin-bottom: 5vh;
        }
        30% {
            margin-bottom: -0.7vh;
        }
        40% {
            margin-bottom: 3vh;
        }
        50% {
            margin-bottom: 0.5vh;
        }
        60% {
            margin-bottom: -0.4vh;
        }
        70% {
            margin-bottom: 0.3vh;
        }
        80% {
            margin-bottom: -0.3vh;
        }
        90% {
            margin-bottom: 0.2vh;
        }
        100% {
            margin-bottom: 0vh;
        }
    }

    @-o-keyframes bounce-in {
        0% {
            margin-bottom: -100vh;
        }
        10% {
            margin-bottom: -1vh;
        }
        20% {
            margin-bottom: 5vh;
        }
        30% {
            margin-bottom: -0.7vh;
        }
        40% {
            margin-bottom: 3vh;
        }
        50% {
            margin-bottom: 0.5vh;
        }
        60% {
            margin-bottom: -0.4vh;
        }
        70% {
            margin-bottom: 0.3vh;
        }
        80% {
            margin-bottom: -0.3vh;
        }
        90% {
            margin-bottom: 0.2vh;
        }
        100% {
            margin-bottom: 0vh;
        }
    }

    @keyframes bounce-in {
        0% {
            margin-bottom: -100vh;
        }
        10% {
            margin-bottom: -1vh;
        }
        20% {
            margin-bottom: 5vh;
        }
        30% {
            margin-bottom: -0.7vh;
        }
        40% {
            margin-bottom: 3vh;
        }
        50% {
            margin-bottom: 0.5vh;
        }
        60% {
            margin-bottom: -0.4vh;
        }
        70% {
            margin-bottom: 0.3vh;
        }
        80% {
            margin-bottom: -0.3vh;
        }
        90% {
            margin-bottom: 0.2vh;
        }
        100% {
            margin-bottom: 0vh;
        }
    }
}

@-webkit-keyframes slide-left {
    from {
        -webkit-transform: translateY(0);
    }
    to {
        -webkit-transform: translateY(100vh);
    }
}

@-moz-keyframes slide-left {
    from {
        -moz-transform: translateX(0);
    }
    to {
        -moz-transform: translateX(-100vh);
    }
}

@-ms-keyframes slide-left {
    from {
        -ms-transform: translateX(0);
    }
    to {
        -ms-transform: translateX(-100vh);
    }
}

@-o-keyframes slide-left {
    from {
        -o-transform: translateX(0);
    }
    to {
        -o-transform: translateX(-100vh);
    }
}

@keyframes slide-left {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100vh);
    }
}

@-webkit-keyframes focus-in {
    from {
        -webkit-filter: blur($--focus-in-base-blur);
    }
    to {
        -webkit-filter: blur(0px);
    }
}

@-moz-keyframes focus-in {
    from {
        -moz--filter: blur($--focus-in-base-blur);
    }
    to {
        -moz-filter: blur(0px);
    }
}

@-ms-keyframes focus-in {
    from {
        -ms-filter: blur($--focus-in-base-blur);
    }
    to {
        -ms-filter: blur(0px);
    }
}

@-o-keyframes focus-in {
    from {
        -o-filter: blur($--focus-in-base-blur);
    }
    to {
        -o-filter: blur(0px);
    }
}

@keyframes focus-in {
    from {
        filter: blur($--focus-in-base-blur);
    }
    to {
        filter: blur(0px);
    }
}