@font-face {
    font-family: 'Arcane-Nine-Regular';
    src: url('../../fonts/Arcane-Nine/regular/Arcane-Nine.eot');
    src:
        url('../../fonts/Arcane-Nine/regular/Arcane-Nine.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/Arcane-Nine/regular/Arcane-Nine.woff') format('woff'),
        url('../../fonts/Arcane-Nine/regular/Arcane-Nine.ttf') format('truetype'),
        url('../../fonts/Arcane-Nine/regular/Arcane-Nine.svg#svgArcane-Nine') format('svg');
}

@font-face {
    font-family: 'Shizuru-Regular';
    src: url('../../fonts/Shizuru/regular/Shizuru.eot');
    src:
        url('../../fonts/Shizuru/regular/Shizuru.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/Shizuru/regular/Shizuru.woff') format('woff'),
        url('../../fonts/Shizuru/regular/Shizuru.ttf') format('truetype'),
        url('../../fonts/Shizuru/regular/Shizuru.svg#svgShizuru') format('svg');
}

@font-face {
    font-family: 'Licorice-Regular';
    src: url('../../fonts/Licorice/regular/Licorice.eot');
    src:
        url('../../fonts/Licorice/regular/Licorice.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/Licorice/regular/Licorice.woff') format('woff'),
        url('../../fonts/Licorice/regular/Licorice.ttf') format('truetype'),
        url('../../fonts/Licorice/regular/Licorice.svg#svgLicorice-Regular') format('svg');
}

@font-face {
    font-family: 'Ubuntu-Mono-Regular';
    src: url('../../fonts/Ubuntu-Mono/regular/Ubuntu-Mono.eot');
    src:
        url('../../fonts/Ubuntu-Mono/regular/Ubuntu-Mono.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/Ubuntu-Mono/regular/Ubuntu-Mono.woff') format('woff'),
        url('../../fonts/Ubuntu-Mono/regular/Ubuntu-Mono.ttf') format('truetype'),
        url('../../fonts/Ubuntu-Mono/regular/Ubuntu-Mono.svg#svgUbuntuMono-Regular') format('svg');
}

@font-face {
    font-family: 'VALORANT-Regular';
    src: url('../../fonts/VALORANT/regular/VALORANT.eot');
    src:
        url('../../fonts/VALORANT/regular/VALORANT.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/VALORANT/regular/VALORANT.woff') format('woff'),
        url('../../fonts/VALORANT/regular/VALORANT.ttf') format('truetype'),
        url('../../fonts/VALORANT/regular/VALORANT.svg#svgValorant Font') format('svg');
}

@font-face {
    font-family: 'Ubuntu-Mono-Bold';
    src: url('../../fonts/Ubuntu-Mono/bold/Ubuntu-Mono.eot');
    src:
        url('../../fonts/Ubuntu-Mono/bold/Ubuntu-Mono.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/Ubuntu-Mono/bold/Ubuntu-Mono.woff') format('woff'),
        url('../../fonts/Ubuntu-Mono/bold/Ubuntu-Mono.ttf') format('truetype'),
        url('../../fonts/Ubuntu-Mono/bold/Ubuntu-Mono.svg#svgUbuntuMono-Bold') format('svg');
}
