.actions {
    position: fixed;
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    z-index: 2;
    gap: 0.5em;
    padding: 0.4em 0;
    background-color: rgba($--white, 0.5);
    backdrop-filter: blur(5px);
    bottom: 0;

    > button, > a {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0.6em;
        background-color: transparent;
        border: 0.01em solid $--black;

        -webkit-transition: background-color ease-in-out 0.2s;
        -moz-transition:    background-color ease-in-out 0.2s;
        -o-transition:      background-color ease-in-out 0.2s;
        transition:         background-color ease-in-out 0.2s;

        svg {
            path {
                fill: $--black;
                stroke: $--black;
            }
        }

        &:active,
        &:focus,
        &:focus-within,
        &:hover {
            background-color: $--dark-grey-color;

            svg path {
                fill: $--accent-color;
                stroke: $--accent-color;
            }
        }
    }

    .home-action {
        svg {
            width: 0.8em;
            height: 0.8em;
        }
    }

    .language-action {
        svg {
            width: 1.1em;
            height: 1.1em;
        }
    }

    .language-action__list {
        position: fixed;
        display: flex;
        flex-direction: column-reverse;
        z-index: 3;
        overflow: hidden;
        background-color: $--black;

        -webkit-transition: height ease-in-out 0.2s;
        -moz-transition:    height ease-in-out 0.2s;
        -o-transition:      height ease-in-out 0.2s;
        transition:         height ease-in-out 0.2s;

        .world-map {
            margin: 0.5em 0 auto 0;
            width: 95%;
        }

        ul {
            display: flex;
            flex-direction: column;
            align-self: flex-start;
            justify-content: flex-end;
            gap: 1.25em;
            margin: auto 1em 1em 1em;
            width: calc(100% - $--home-margin-mobile / 2);

            li {
                height: 2em;
                width: 100%;
                display: flex;
                align-items: center;
                position: relative;

                &:active,
                &:focus,
                &:focus-within,
                &:hover {
                    &[data-is-selected="false"] {
                        span {
                            color: $--black;
                            background-color: $--white;

                            box-shadow:         $--box-shadow;
                            -webkit-box-shadow: $--box-shadow;
                            -moz-box-shadow:    $--box-shadow;
                        }

                        div {
                            width: 100%;
                        }
                    }
                }

                &[data-is-selected="true"] {
                    span {
                        color: $--white;
                        background-color: $--green-color;
                    }

                    div {
                        background-color: transparent;
                    }
                }

                span {
                    display: flex;
                    align-items: center;
                    min-height: 1.5em;
                    padding: 0.8em 1em;
                    font-family: 'Roboto Condensed';
                    font-size: 1em;
                    margin-left: 0.25em;
                    z-index: 1;
                    color: $--white;

                    -webkit-transition: color ease-in-out 0.2s, background-color ease-in-out 0.2s, box-shadow ease-in-out 0.2s;
                    -moz-transition:    color ease-in-out 0.2s, background-color ease-in-out 0.2s, box-shadow ease-in-out 0.2s;
                    -o-transition:      color ease-in-out 0.2s, background-color ease-in-out 0.2s, box-shadow ease-in-out 0.2s;
                    transition:         color ease-in-out 0.2s, background-color ease-in-out 0.2s, box-shadow ease-in-out 0.2s;
                }

                div {
                    position: absolute;
                    width: 0.15em;
                    height: 100%;
                    background-color: $--white;
                    z-index: 0;

                    -webkit-transition: width ease-in-out 0.2s;
                    -moz-transition:    width ease-in-out 0.2s;
                    -o-transition:      width ease-in-out 0.2s;
                    transition:         width ease-in-out 0.2s;
                }

                a {
                    width: 100%;
                    align-items: center;
                    text-decoration: none;
                }
            }

        }
    }

    .theme-action {
        svg {
            width: 1.2em;
            height: 1.2em;
        }
    }
}

@media only screen and (min-width: $--min-tablet-width) {
    .actions {
        .language-action__list {
            flex-direction: row;

            ul {
                flex: 1;
            }

            .world-map {
                margin: 0 1em auto auto;
                width: 80%;
            }
        }
    }
}

@media only screen and (min-width: $--min-desktop-width) {
    .actions {
        width: 2.2em;
        flex-direction: column;
        justify-content: center;
        gap: 0.5em;
        background-color: transparent;
        backdrop-filter: none;
        padding: 0;

        .language-action__list {
            top: initial;

            -webkit-transition: width ease-in-out 0.2s;
            -moz-transition:    width ease-in-out 0.2s;
            -o-transition:      width ease-in-out 0.2s;
            transition:         width ease-in-out 0.2s;

            ul {
                gap: 1.25em;
                margin: auto 1em 1em 1em;
                width: calc(100% - calc($--home-margin / 2));

                li {
                    &:hover {
                        cursor: pointer;

                        div {
                            width: 100%;
                        }
                    }

                    span {
                        font-size: 0.95em;
                    }
                }
            }

            .world-map {
                margin: 1em 1em auto auto;
            }
        }
    }
}