.contact__form {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    width: 100%;
    height: 100%;
    gap: 1.5em 0;

    &-input {
        display: flex;
        flex-direction: column;
        gap: 1em 0;

        label,
        input,
        textarea {  
            color: $--dark-grey-color;
        }

        & label {
            font-family: 'Roboto Condensed';
            font-weight: 400;
            font-size: 1.5em;
        }

        & input,
        & textarea {
            background-color: transparent;
            resize: none;
            font-family: 'Roboto Condensed';
            font-size: 1.4em;
            font-weight: 300;
            padding: 0.8em 1em;
            max-height: 12em;
            border: 1px solid $--dark-grey-color;

            -webkit-transition: background-color ease-in-out 0.2s, border-color ease-in-out 0.2s;
            -moz-transition:    background-color ease-in-out 0.2s, border-color ease-in-out 0.2s;
            -o-transition:      background-color ease-in-out 0.2s, border-color ease-in-out 0.2s;
            transition:         background-color ease-in-out 0.2s, border-color ease-in-out 0.2s;

            &:active,
            &:focus,
            &:focus-within {
                outline: none;
                background-color: $--dark-grey-color;
                color: $--accent-color;
            }
        }

        & textarea {
            height: 12em;
            padding: 1em;
        }
    }

    &-button {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: transparent;
        font-family: 'Roboto Condensed';
        font-weight: 400;
        border: 1px solid $--dark-grey-color;
        height: 3.6em;
        font-size: 1.7em;

        & span {
            color: $--dark-grey-color;
            pointer-events: none;
            z-index: 2;
        }

        &:active,
        &:focus,
        &:focus-within,
        &:hover  {
            div {
                -webkit-transform: translateX(0);
                -moz-transform:    translateX(0);
                -o-transform:      translateX(0);
                transform:         translateX(0);
            }

            span {
                color: $--accent-color;
            }
        }
    }

    &-status {
        width: 100%;
        align-items: center;
        justify-content: center;
        font-family: 'Roboto Condensed';
        font-weight: 700;
        font-size: 3vh;
        color: $--green-color;
        min-height: 3vh;
        text-align: center;
    }
}

@media only screen and (min-width: $--min-tablet-width) {
    .contact__form {
        gap: 3vh 0;

        &-input {
            gap: 2vh 0;

            label {
                font-size: clamp(1.5vh, 1.5vh + 0.5em, 4vh);
            }

            input,
            textarea {
                font-size: clamp(1.2vh, 1.2vh + 0.5em, 4vh);
                margin: 0;
                max-height: 20vh;
                padding: 1.5vh 1.5vh;
            }

            input {
                width: 30%;
            }

            textarea {
                width: 45%;
                height: 15vh;
                padding: 1.5vh;
            }
        }

        &-button {
            height: 7vh;
            font-size: clamp(2vh, 2vh + 0.5em, 4vh);
            width: 20%;

            &:hover {
                cursor: pointer;
            }
        }

        &-status {
            justify-content: flex-start;
            text-align: left;
        }
    }
}
