footer {
    font-family: 'Inter';
    font-size: 1.5vh;
    color: $--backdrop-background-color-mobile;
    position: absolute;
    top: ($--home-margin-mobile / 2) - 1dvh;

	-webkit-animation: fade-in $--initial-fade-duration ease-in-out 1 forwards;
	-moz-animation:    fade-in $--initial-fade-duration ease-in-out 1 forwards;
	-o-animation:      fade-in $--initial-fade-duration ease-in-out 1 forwards;
	animation:         fade-in $--initial-fade-duration ease-in-out 1 forwards;

    span {
        opacity: 0.4;
    }
}

@media only screen and (min-width: 801px) {
    footer {
        top: initial;
        bottom: ($--home-margin / 2) - 1dvh
    }
}