.mountains {
	width: 100%;
	height: 50dvh;
	position: relative;

	svg {
		position: absolute;
		height: 100%;
		width: 100%;
		opacity: 0;

		-webkit-animation: fade-in $--initial-fade-duration ease-in-out 1 forwards;
		-moz-animation:    fade-in $--initial-fade-duration ease-in-out 1 forwards;
		-o-animation:      fade-in $--initial-fade-duration ease-in-out 1 forwards;
		animation:         fade-in $--initial-fade-duration ease-in-out 1 forwards;

		&:nth-of-type(1){
			-webkit-animation-delay: $--initial-fade-duration * 0.6;
			-moz-animation-delay:    $--initial-fade-duration * 0.6;
			-o-animation-delay:      $--initial-fade-duration * 0.6;
			animation-delay:         $--initial-fade-duration * 0.6;

			path {
				transform: translate(-45vh, 1vh) scale(2.5);
			}
		}

		&:nth-of-type(2) {
			-webkit-animation-delay: $--initial-fade-duration * 0.4;
			-moz-animation-delay:    $--initial-fade-duration * 0.4;
			-o-animation-delay:      $--initial-fade-duration * 0.4;
			animation-delay:         $--initial-fade-duration * 0.4;

			path {
				transform: translate(-5vh, 1vh) scale(2.5);
			}
		}
	}
}

@media only screen and (min-width: $--min-desktop-width) {
	.mountains {
		height: 58vh;

		svg {
			&:first-of-type {
				path {
					transform: translate(-5vh, -3vh) scale(1);
				}
			}

			&:nth-of-type(2) {
				path {
					transform: translate(-5vh, -2vh) scale(1);
				}
			}
		}
	}
}