$--navbar-width-mobile: 8vh;

.socials {
    align-items: center;
    gap: 1vh;
    margin-top: 2vh;

    &__button {
        background-color: transparent;
        outline: transparent;
        border: 1px solid $--dark-grey-color;

        &:active,
        &:focus,
        &:focus-within,
        &:hover  {
            background-color: $--dark-grey-color;

            svg {
                path {
                    fill: $--accent-color;
                }
            }
        }

        a {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 4dvh;
            height: 4dvh;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        svg {
            width: 2dvh;
		    height: 2dvh;

            path {
                fill: $--dark-grey-color;

                -webkit-transition: fill ease-in-out 0.2s;
                -moz-transition:    fill ease-in-out 0.2s;
                -o-transition:      fill ease-in-out 0.2s;
                transition:         fill ease-in-out 0.2s;
            }
        }
    }
}

$--navbar-width-desktop: 4rem;

@media only screen and (min-width: $--min-desktop-width) {
    .socials {
        &__socials {
            width: 100%;

            ul {
                width: 100%;
            }
        }
    }
}
