.theme-button {
    right: 0.7em;
    bottom: 0.6em;

    svg {
        width: 1.2em;
        height: 1.2em;
    }
}

@media only screen and (min-width: $--min-desktop-width) {
    .theme-button {
        right: 0.35rem;
        bottom: 0.5rem;
    }
}