.world-map {
    path {
        fill: $--white;
        stroke: $--black;

        -webkit-transition: fill ease-in-out 0.2s;
        -moz-transition:    fill ease-in-out 0.2s;
        -o-transition:      fill ease-in-out 0.2s;
        transition:         fill ease-in-out 0.2s;

        &[data-is-active="true"] {
            fill: $--green-color;
        }
    }
}