.contact__form {
	display: flex;
	flex-direction: column;
	align-items: left;
	justify-content: center;
	width: 100%;
	height: 100%;
	color: white;
	gap: 1.5rem 0;
	padding: 0 1rem;

	&-title {
		font-family: 'Licorice-Regular';
		font-size: 4rem;
		color: #743C21;
	}

	&-input {
		display: flex;
		flex-direction: column;
		gap: 1rem 0;

		& label {
			font-family: 'Ubuntu-Mono-Bold';
			font-size: 1.5rem;
		}

		& input, & textarea {
			background-color: transparent;
			color: white;
			resize: none;
			font-family: 'Ubuntu-Mono-Regular';
			font-size: 1.4rem;
			padding: 0 0.5rem;
			margin: 0 2rem 0 0;
			min-height: 3rem;
			max-height: 12rem;
			border: white solid 0.01rem;
			transition: border-color ease-in-out 0.2s;

			&:focus {
				border-color: #743C21;
				outline: none;
			}
		}

		& textarea {
			height: 12rem;
		}
	}

	& button {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		background-color: transparent;
		border: none;
		outline: none;
		color: white;
		font-family: 'Arcane-Nine-Regular';
		padding: 0;
		border: white solid 0.01rem;
		margin: 0 2rem 0 0;
		height: 3.6rem;
		font-size: 2rem;

		&:active, &:focus {
			color: #6CECF1;

			& div:first-of-type {
				width: 100%;
				background-color: #4D0F5E;
			}
		}

		& div:first-of-type {
			pointer-events: none;
			width: 0%;
			height: 100%;
			transition: width ease-in-out 0.2s;
		}

		& span {
			pointer-events: none;
			position: absolute;
		}
	}
}

@media (min-width: 801px) {
	.contact__form {
		gap: 3vh 0;
		padding: 0 2vh;

		&-title {
			font-size: 9vh;
		}

		&-input {
			gap: 3vh 0;

			& label {
				font-size: 3vh;
			}

			& input, & textarea {
				font-size: 3vh;
				margin: 0 4vh 0 0;
				min-height: 5vh;
				max-height: 20vh;
				padding: 0.6vh 1vh;
			}

			& textarea {
				height: 20vh;
			}
		}

		& button {
			border: white solid 0.01rem;
			margin: 0 4vh 0 0;
			height: 8vh;
			font-size: 4vh;

			&:hover {
				cursor: pointer;
				color: #6CECF1;

				& div:first-of-type {
					width: 100%;
					background-color: #4D0F5E;
				}
			}
		}
	}
}