.job {
	display: flex;
	flex-direction: column;
	width: 100%;
	position: relative;
	gap: 2vh;
	font-family: 'Inter';
	color: $--accent-color;
	line-height: 1.25;

	&__date {
		&__text {
			display: flex;
			flex-direction: row;
			align-items: center;
			gap: 0 1vh;
			font-weight: 500;
			font-size: 1.75vh;
			opacity: 0.4;
		}

		&__divider {
			height: 0.2vh;
			width: 2vh;
			background-color: $--accent-color;
		}
	}
	
	&__info {
		display: flex;
		flex-direction: column;
		gap: 1vh 0;
		flex: 2.5;

		&__company {
			font-size: 3vh;
			font-weight: 500;
		}

		&__description {
			width: 100%;
			font-size: 1.8vh;
			line-height: 1.5;
			opacity: 0.7;
		}

		&__technologies {
			display: flex;
			flex-wrap: wrap;
			margin-top: 1.5vh;
			gap: 1.5vh 1vh;
			width: 86%;
			font-family: 'Inter';

			li {
				display: flex;
				align-items: center;
				justify-content: center;
				background-color: #345C54;
				min-height: 4vh;
				padding: 0 2vh;
				border-radius: 3vh;
				font-weight: 600;
				font-size: 1.5vh;
			}
		}
	}
}

@media (min-width: 1281px) {
	.job {
		flex-direction: row;
		width: 100%;
		position: relative;
		gap: 1vh;

		&__date { 
			width: 28vh;

			&__text {
				margin-top: 0.2vh;
				flex-direction: row;
				gap: 0 1vh;
				width: 100%;
				font-size: 1.65vh;
			}
		}

		&__info {
			flex-direction: column;
			gap: 1vh 0;
			flex: 2.5;

			&__company {
				font-size: 2.15vh;
			}

			&__description {
				width: 80%;
				font-size: 1.6vh;
			}

			&__technologies { 
				width: 70%;
				margin-top: 1.35vh;

				li {
					min-height: 3.5vh;
					padding: 0 2vh;
					font-size: 1.25vh;
					backdrop-filter: $--backdrop-filter;
				}
			}
		}
	}
}