.navbar {
	display: flex;
	flex-direction: column;
	overflow: hidden;
	width: 100vw;

	&__list {
		display: flex;
	}

	&[data-is-mobile='true'] {
		.navbar {
			&__bar {
				display: flex;
				width: 100%;
				z-index: 3;

				& .rect-button {
					position: absolute;
				}
			}

			&__list {
				flex-direction: column-reverse;
				overflow: hidden;
				z-index: 2;
				height: 100vh;
				width: 100vw;
			}
		}
	}
}

@media (min-width: 801px) {
	.navbar {
		&__list {
			flex-direction: row;
		}
	}
}