.preview-redirector {
	-webkit-transition: width ease-in-out 0.2s, background-color ease-in-out 0.2s;
	-moz-transition:    width ease-in-out 0.2s, background-color ease-in-out 0.2s;
	-o-transition:      width ease-in-out 0.2s, background-color ease-in-out 0.2s;
	transition:         width ease-in-out 0.2s, background-color ease-in-out 0.2s;
}

@media (min-width: 801px) {
	.preview-redirector {
		&:hover {
			cursor: pointer;
			background-color: gray;
			width: 70%;
		}
	}
}