.preview-redirector {
	position: relative;

	&__film {
		position: absolute;
		z-index: 2;
		background-color: rgba(15, 15, 15, 0.9);
		opacity: 0.8;
		width: 100%;
		height: 100%;

		-webkit-transition: opacity ease-in-out 0.2s;
		-moz-transition:    opacity ease-in-out 0.2s;
		-o-transition:      opacity ease-in-out 0.2s;
		transition:         opacity ease-in-out 0.2s;
	}

	&:focus {
		& .preview-redirector__film {
			opacity: 0;
		}
	}
}

@media (min-width: 801px) {
	.preview-redirector {
		&:hover {
			cursor: pointer;

			& .preview-redirector__film {
				opacity: 0;
			}
		}
	}
}