.project-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 15rem;
    width: 77vw;
    background-color: #36383c;
    overflow: hidden;
    border-radius: 15px;

    &[data-is-loading='true'] {
        .project-card {
            margin: 0 auto;

            &__thumbnail,
            &__name,
            &__linkers {
                & svg {
                    width: 100%;
                    height: 100%;
                }
            }

            &__name,
            &__linkers {
                margin: 1vh 0 0 0;

                & span {
                    width: 100%;
                    height: 100%;
                }
            }

            &__thumbnail {
                flex: 3;
            }

            &__name {
                height: 3vh;

                & span {
                    width: 80%;
                }
            }
        }
    }

    &__info {
        position: absolute;
        z-index: 2;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        pointer-events: none;
        overflow: hidden;

        div {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 2vh;
            justify-content: flex-start;
            width: 100%;
            height: 100%;
            background-color: #2e3033;

            h2 {
                color: white;
                opacity: 0.05;
                font-family: 'Ubuntu-Mono-Bold';
                font-size: 2.8rem;
                position: absolute;
                margin: 2vh;
                margin-top: 1dvh;
            }

            p {
                text-align: justify;
                font-family: 'Ubuntu-Mono-Regular';
                color: white;
                font-size: 1rem;
                margin: 8dvh 2vh 2vh 2vh;
                width: 30%;
            }
        }

        button {
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #1a1a1a;
            position: absolute;
            right: 0;
            bottom: 0;
            z-index: 3;
            outline: none;
            border: none;
            width: 3rem;
            height: 3rem;
            border-radius: 1.5vh;
            margin: 0 1.5vh 1dvh 0;
            pointer-events: all;
        
            & svg {
                width: 1.5rem;
                height: 1.5rem;
                fill: white;
            }
        }
    }

    &__thumbnail {
        height: 110%;
        width: 110%;
        background-repeat: no-repeat;
        background-position: center;
        background-position-y: top;
        background-size: 110%;
    }

    &__name {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 5rem;
        width: 100%;
        color: white;
        font-family: 'Ubuntu-Mono-Bold';
        font-size: 1.3rem;
    }

    &__linkers {
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 6rem;

        & a {
            flex: 1;
            display: flex;
            align-items: center;
            justify-content: center;
            text-decoration: none;
            color: white;
            font-family: 'Ubuntu-Mono-Regular';
            font-size: 1rem;

            &[data-is-disabled='true'] {
                color: #85a6a6;
                background-color: #697f85 !important;
            }

            &:first-of-type {
                box-shadow:
                    inset 20px 20px 60px #2e3033,
                    inset -20px -20px 60px #3e4045;
            }

            &:last-of-type {
                background-color: rgba(2, 70, 64, 1);
            }
        }
    }

    &[data-is-showing-info="disabled"] {
        .project-card__info {    
            div {
                display: none;
            }
        }
    }

    &[data-is-showing-info="true"] {
        .project-card__info {    
            pointer-events: all;
        }
    }
}

@media (min-width: 801px) {
    .project-card {
        height: 40vh;
        width: 35vw;

        &__info {    
            div {
                gap: 2vh;

                h2 {
                    font-size: 4rem;
                }

                p {
                    width: auto;
                    font-size: 1.3rem;
                }
            }
    
            button {
                width: 3rem;
                height: 3rem;
                border-radius: 0;
                margin: 0 0 6.5vh 0;
                background-color: #36383c;

                -webkit-transition: margin ease-in-out 0.5s, border-radius ease-in-out 0.4s, background-color ease-in-out 0.55s;
                -moz-transition:    margin ease-in-out 0.5s, border-radius ease-in-out 0.4s, background-color ease-in-out 0.55s;
                -o-transition:      margin ease-in-out 0.5s, border-radius ease-in-out 0.4s, background-color ease-in-out 0.55s;
                transition:         margin ease-in-out 0.5s, border-radius ease-in-out 0.4s, background-color ease-in-out 0.55s;

                & svg {
                    width: 1.5rem;
                    height: 1.5rem;
                    fill: white;
                }
            }
        }

        &__name {
            height: 8vh;
            font-size: 2.5vh;
        }

        &__linkers {
            height: 10vh;

            & a {
                font-size: 2vh;

                -webkit-transition: background-color 0.2s ease-in-out;
                -moz-transition: background-color 0.2s ease-in-out;
                -o-transition: background-color 0.2s ease-in-out;
                transition: background-color 0.2s ease-in-out;

                &[data-is-disabled='true'] {
                    &:hover {
                        cursor: default;
                    }
                }

                &:last-of-type {
                    &:hover {
                        background-color: rgb(0, 200, 150);
                        cursor: pointer;
                    }
                }
            }
        }
    
        &[data-is-showing-info="true"] {
            .project-card__info {    
                button {
                    border-radius: 1.5vh;
                    margin: 0 1dvh 3.5vh 0;
                    
                    box-shadow: 1px 2px 5px 0px rgba(0, 0, 0, 0.75);
                    -webkit-box-shadow: 1px 2px 5px 0px rgba(0, 0, 0, 0.75);
                    -moz-box-shadow: 1px 2px 5px 0px rgba(0, 0, 0, 0.75);
                }
            }
        }
    }
}
