.route-map {
	display: flex;
	flex-direction: column;
	overflow: hidden;
	width: 100vw;
	height: 57.2rem;

	-webkit-transition: width 0.3s ease-in-out, height 0.3s ease-in-out, margin 0.1s ease-in-out;
	-moz-transition:    width 0.3s ease-in-out, height 0.3s ease-in-out, margin 0.1s ease-in-out;
	-o-transition:      width 0.3s ease-in-out, height 0.3s ease-in-out, margin 0.1s ease-in-out;
	transition:         width 0.3s ease-in-out, height 0.3s ease-in-out, margin 0.1s ease-in-out;

	&[data-has-expanded='true'] {
		.route-map {
			&__view {
				pointer-events: none;
				border: none;
				border-radius: 0;

				&-path {
					border-radius: 0;
				}
			}
		}
	}

	&[data-has-expanded='false'] {
		margin: 0 1rem 1rem 0;
		width: 25vw;
		height: 12rem;

		.route-map {
			&__view {
				border: #1a1a1a solid 0.7vh;
				border-radius: 15px;

				&-path {
					border-radius: 10px;

					& canvas {
						pointer-events: none;
					}
				}
			}

			&__button {
				display: none;
		
				-webkit-animation-delay: 0.5s;
				-moz-animation-delay:    0.5s;
				-o-animation-delay: 	 0.5s;
				animation-delay: 		 0.5s;
			}
		}
	}

	&__view {
		width: 100%;
		height: 100%;

		-webkit-transition: border 0.2s ease-in-out 0.1s, border-radius 0.5s ease-in-out 0.1s, border-color 0.3s ease-in-out;
		-moz-transition:    border 0.2s ease-in-out 0.1s, border-radius 0.5s ease-in-out 0.1s, border-color 0.3s ease-in-out;
		-o-transition:      border 0.2s ease-in-out 0.1s, border-radius 0.5s ease-in-out 0.1s, border-color 0.3s ease-in-out;
		transition:         border 0.2s ease-in-out 0.1s, border-radius 0.5s ease-in-out 0.1s, border-color 0.3s ease-in-out;

		&-path {
			overflow: hidden;
			height: 100%;
			width: 100%;

			& canvas {
				pointer-events: all;
				width: 100% !important;
				height: 100% !important;
			}
		}
	}

	&__button {
		position: absolute;
		bottom: 0;
		width: 8vw;
		height: 4vh;
		z-index: 4;
	}
}

@media (min-width: 801px) {
	.route-map {
		height: 100vh;

		&[data-has-expanded='false'] {
			width: 20vw;
			height: 20vh;

			.route-map {
				&__view {
					border: #1a1a1a solid 0.7vh;
					margin: 0 2vh 2vh 0;

					&:hover {
						cursor: pointer;

						border-color: white;
					}
				}
			}
		}

		&__button {
			width: 4vh;
			height: 4vh;
		}
	}
}