.socials {
	position: fixed;
	bottom: 0;
	right: 0;
	align-self: flex-end;
	z-index: $--max-z-index;
	opacity: 0;
	
	-webkit-animation: fade-in 1s ease-in-out 1 forwards;
	-moz-animation:    fade-in 1s ease-in-out 1 forwards;
	-o-animation:      fade-in 1s ease-in-out 1 forwards;
	animation:         fade-in 1s ease-in-out 1 forwards;

	ul {
		align-items: center;
		justify-content: center;
		margin: 0 2vh 2dvh 0;
		gap: 2vh;
		padding: 1.5vh 1vh;
		background-color: $--backdrop-background-color-mobile;
		border-radius: $--pill-border-radius;

		box-shadow:         1px 2px 5px 0px rgba(0, 0, 0, 0.05);
		-webkit-box-shadow: 1px 2px 5px 0px rgba(0, 0, 0, 0.05);
		-moz-box-shadow:    1px 2px 5px 0px rgba(0, 0, 0, 0.05);

		li {
			width: 1.5rem;
			height: 1.5rem;
	
			path {
				fill: $--backdrop-primary-color-light;
			}
	
			&:nth-of-type(2) {
				width: 2rem;
				height: 2rem;
			}
		}
	}
}

@media (min-width: 1281px) {
	.socials {
		ul {
			margin: 0 2vh 2vh 0;
            gap: 1vh;
            background-color: $--backdrop-background-color;
            backdrop-filter: $--backdrop-filter;

            li {
                height: 3vh;
                width: 3vh;

                &:nth-of-type(2) {
                    height: 4vh;
                    width: 4vh;
                }
            }
		}
	}
}