.title {
	width: 100%;
    height: 50dvh;

    &__text {
        position: fixed;
        justify-content: center;
        align-items: flex-start;
        top: 45dvh;
        left: 4vh;
    
        h2 {
            font-size: 15vh;
            text-transform: uppercase;
            font-family: 'Roboto Condensed';
            color: #455657;
            opacity: 0;
    
            -webkit-animation: fade-in $--initial-fade-duration ease-in-out 1 $--initial-fade-duration + 0.6 forwards;
            -moz-animation:    fade-in $--initial-fade-duration ease-in-out 1 $--initial-fade-duration + 0.6 forwards;
            -o-animation:      fade-in $--initial-fade-duration ease-in-out 1 $--initial-fade-duration + 0.6 forwards;
            animation:         fade-in $--initial-fade-duration ease-in-out 1 $--initial-fade-duration + 0.6 forwards;
        }
    
        h3 {
            font-family: 'Roboto Condensed';
            font-style: italic;
            font-weight: 300;
            font-size: 5vh;
            color: #455657;
            opacity: 0;
            margin-left: 1vh;

            -webkit-animation: fade-in $--initial-fade-duration ease-in-out 1 $--initial-fade-duration + 0.2 forwards;
            -moz-animation:    fade-in $--initial-fade-duration ease-in-out 1 $--initial-fade-duration + 0.2 forwards;
            -o-animation:      fade-in $--initial-fade-duration ease-in-out 1 $--initial-fade-duration + 0.2 forwards;
            animation:         fade-in $--initial-fade-duration ease-in-out 1 $--initial-fade-duration + 0.2 forwards;

            &:last-of-type {
                -webkit-animation-delay: $--initial-fade-duration + 0.4;
                -moz-animation-delay:    $--initial-fade-duration + 0.4;
                -o-animation-delay:      $--initial-fade-duration + 0.4;
                animation-delay:         $--initial-fade-duration + 0.4;
            }
        }
    }
}

@media (min-width: 1281px) {
	.title {
		height: 60vh;

        &__text {
            top: 30vh;
            left: 15vh;

            h2 {
                font-size: 38vh;
            }

            h3 { 
                margin-left: 2vh;
                font-size: 8vh;
            }
        }
	}
}