$--banner-height: 30.5rem;
$--banner-height-desktop: 70vh;

.blog {
    background-color: $--grey-background-color;
    align-items: center;

    &__banner {
        width: 100%;
        height: $--banner-height;
        overflow: hidden;
        position: relative;

        &::before {
            display: block;
            content: "";
            width: 100%;
            padding-top: 32.3%;
        }

        &__wrapper {
            position: absolute;
            top: -10%;
            height: 100%;
            width: 100%;
        }
    }

    &__content {
        position: absolute;
        top: calc($--banner-height - 1rem);
        width: 100%;
        align-items: center;
        background-color: $--backdrop-primary-color-light;
        color: $--grey-background-color;
        padding-top: 2vh;
        border-top-left-radius: $--squircle-border-radius * 3;
        border-top-right-radius: $--squircle-border-radius * 3;

        &__footer {
            margin-bottom: -0.1vh;

            -webkit-transform: translateX(-35vh);
            -moz-transform:    translateX(-35vh);
            -o-transform:      translateX(-35vh);
            transform:         translateX(-35vh);
        }
    }
}

@media (min-width: $--min-desktop-width) {
    .blog {
        &__banner {
            height: $--banner-height-desktop;
        }
    
        &__content {
            position: absolute;
            top: calc($--banner-height-desktop - 2vh);
            padding-top: 4vh;

            &__footer {
               height: 30vh;

               -webkit-transform: translateX(-65vh);
               -moz-transform:    translateX(-65vh);
               -o-transform:      translateX(-65vh);
               transform:         translateX(-65vh);
            }
        }
    }
}