$--banner-height: 15.5rem;
$--banner-height-desktop: 70vh;

.blog {
    background-color: $--grey-color;
    align-items: center;

    &__banner {
        width: 100%;
        height: $--banner-height;
        overflow: hidden;
        position: relative;

        &::before {
            display: block;
            content: "";
            width: 100%;
            padding-top: 32.3%;
        }

        &__wrapper {
            position: absolute;
            top: -10%;
            left: -25%;
            height: 100%;
            width: 100%;

            img {
                height: 125%;
                width: 150%;
            }
        }
    }

    &__content {
        width: calc(100% - 6vh);
        padding: 3rem 3vh;
        padding-bottom: 0;
        align-items: center;
        background-color: $--backdrop-primary-color-light;
        color: $--grey-color;

        &__header {
            margin: 0 auto;
            gap: 2vh 0;
            margin-bottom: 5vh;
            align-items: center;

            &__title, &__description {
                font-family: "Inter";
            }
        
            &__title {
                font-weight: 700;
                font-size: 2.5rem;
                text-align: center;
            }
    
            &__description {
                font-weight: 300;
                font-size: 1.2rem;
                opacity: 0.8;
                text-align: center;
            }

            .tags {
                width: auto;
                margin-top: 1vh;
                justify-content: center;
            }

            &__divider {
                width: 40%;
                height: 0.3vh;
                background-color: black;
                border-radius: $--squircle-border-radius;
                opacity: 0.2;
                margin: 0 auto;
                margin-top: 2vh;
            }
        }

        &__footer {
            margin-bottom: -0.1vh;
            width: 100vw;
            overflow-y: hidden;

            svg {
                width: 100%;
                height: 100%;

                -webkit-transform: translateX(-35vh);
                -moz-transform:    translateX(-35vh);
                -o-transform:      translateX(-35vh);
                transform:         translateX(-35vh);
    
                path {
                    fill: $--black;
                }
            }
        }
    }
}

@media (min-width: $--min-desktop-width) {
    .blog {
        &__banner {
            height: $--banner-height-desktop;

            &__wrapper {
                left: 0;
    
                img {
                    height: auto;
                    width: auto;
                }
            }
        }
    
        &__content {
            width: calc(100% - 40vh);
            padding: 2.5rem 20vh;
            padding-bottom: 0;

            &__header {
                width: 100%;
                gap: 2vh 0;
            
                &__title {
                    font-size: 8vh;
                }
        
                &__description {
                    font-size: 2vh;
                }

                &__divider {
                    width: 10%;
                }
            }

            &__footer {
                height: 30vh;

                svg {
                    -webkit-transform: translateX(-65vh);
                    -moz-transform:    translateX(-65vh);
                    -o-transform:      translateX(-65vh);
                    transform:         translateX(-65vh);
                }
            }
        }
    }
}