.home {
    align-items: center;
    overflow-x: hidden;

    &__content {
        align-items: center;
        width: 100vw;
        position: relative;
        background-color: transparent;
    
        &__wrapper {
            width: 100%;
            margin-top: -10dvh;
            z-index: $--max-z-index - 1;
            opacity: 0;
    
            -webkit-animation: fade-in $--initial-fade-duration ease-in-out 1 forwards;
            -moz-animation:    fade-in $--initial-fade-duration ease-in-out 1 forwards;
            -o-animation:      fade-in $--initial-fade-duration ease-in-out 1 forwards;
            animation:         fade-in $--initial-fade-duration ease-in-out 1 forwards;
    
            > svg {
                > path {
                    transform: translate(-5vh, -40vh) scale(1.5);
                }
            }
        }

        &__main {
            display: flex;
            flex-direction: column;
            background-color: $--grey-background-color;
            width: 100%;
            height: 100%;
            margin-top: -5.5dvh;
            padding: 8vh 0;
            align-items: center;
            gap: 12vh 0;
        }

        &__section {
            display: flex;
            flex-direction: column;
            gap: 6vh;
            width: 85%;

            &__title {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 3vh;

                h4 {
                    font-family: 'Inter';
                    font-size: 7.5vh;
                    margin-top: 2vh;
                    color: $--accent-color;
                }
            }

            &__main {
                flex: 2;
                position: relative;

                ul {
                    width: 100%;
                }
            }

            &__projects {
                .home__content__section {
                    &__title {
                        justify-content: center;
                    }

                    &__main {
                        > ul {
                            display: grid;
                            grid-template-columns: repeat(auto-fit, 1fr);
                            gap: 3vh;
                        }
                    }
                }
            }

            &__job {
                flex-direction: column-reverse;

                .home__content__section {
                    &__title {
                        justify-content: center;
                    }

                    &__main {
                        > ul {
                            display: flex;
                            flex-direction: column;
                            gap: 6vh;
                        }
                    }
                }
            }

            &__blog {
                flex-direction: column;

                .home__content__section {
                    &__title {
                        justify-content: center;
                        margin: 0 auto;
                    }

                    &__main {
                        > ul {
                            display: flex;
                            flex-direction: column;
                            gap: 4vh;
                        }
                    }
                }
            }

            &__contact {
                .home__content__section {
                    &__title {
                        justify-content: center;
                    }
                }
            }
        }
    }
}

@media (min-width: $--min-desktop-width) {
    .home {
        &__content {
            &__wrapper {
                width: 100%;
                margin-top: -55vh;
                z-index: $--max-z-index - 1;

                > svg {
                    > path {
                        transform: translate(-10vh, 0) scale(1);
                    }
                }
            }

            &__main {
                margin-top: -1vh;
                gap: 15vh 0;
            }

            &__section {
                flex-direction: row;
                gap: 5vh;

                &__title {
                    min-width: 50vh;
                    max-width: 70vh;
                    justify-content: flex-start;
                    gap: 3vh;

                    h4 {
                        font-size: 13vh;
                        margin-top: 0;
                    }
                }

                &__projects {
                    .home__content__section {
                        &__title {
                            justify-content: flex-start;
                            align-items: flex-start;
                        }

                        &__main {
                            > ul {
                                display: grid;
                                grid-template-columns: repeat(auto-fit, minmax(50vh, 1fr));
                                gap: 2.5vh;
                            }
                        }

                        &__redirector {
                            align-self: flex-end;
                        }
                    }
                }

                &__job {
                    .home__content__section {
                        &__title {
                            justify-content: flex-start;
                            align-items: flex-end;
                        }

                        &__main {
                            display: flex;
                            flex-direction: column;
                            gap: 2vh;

                            > ul {
                                flex-direction: column;
                                gap: 4vh;
                            }
                        }
                    }
                }

                &__blog {
                    width: 70%;
                    flex-direction: column;

                    .home__content__section {
                        &__title {
                            align-items: center;
                            justify-content: center;
                        }

                        &__main {
                            > ul {
                                gap: 4vh;
                            }
                        }
                    }
                }

                &__contact {
                    .home__content__section {
                        &__title {
                            align-items: flex-start;
                            justify-content: flex-start;
                        }
                    }
                }
            }
        }
    }
}