.home {
    align-items: center;
    overflow-x: hidden;

    &__content {
        align-items: center;
        width: 100vw;
        position: relative;
        background-color: transparent;
    
        &__wrapper {
            width: 100%;
            margin-top: -10dvh;
            z-index: $--max-z-index - 1;
            opacity: 0;
    
            -webkit-animation: fade-in $--initial-fade-duration ease-in-out 1 forwards;
            -moz-animation:    fade-in $--initial-fade-duration ease-in-out 1 forwards;
            -o-animation:      fade-in $--initial-fade-duration ease-in-out 1 forwards;
            animation:         fade-in $--initial-fade-duration ease-in-out 1 forwards;
    
            > svg {
                > path {
                    transform: translate(-5vh, -40vh) scale(1.5);
                }
            }
        }

        &__main {
            display: flex;
            flex-direction: column;
            background-color: $--grey-color;
            width: 100%;
            height: 100%;
            margin-top: -5.5dvh;
            padding: 8vh 0;
            padding-bottom: 0;
            align-items: center;
            gap: 8vh 0;
        }

        &__section {
            display: flex;
            flex-direction: column;
            gap: 4vh;
            width: 85%;

            &__title {
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 1.5vh;

                h4 {
                    font-family: 'Inter';
                    font-size: 3rem;
                    font-weight: bolder;
                    color: $--accent-color;
                }
            }

            &__main {
                position: relative;

                > ul {
                    width: 100%;
                }
            }

            &__projects {
                .home__content__section {
                    &__title {
                        justify-content: center;
                    }

                    &__main {
                        > ul {
                            display: grid;
                            grid-template-columns: repeat(auto-fit, 1fr);
                            gap: 3vh;
                        }
                    }
                }
            }

            &__job {
                .home__content__section {
                    &__title {
                        justify-content: center;
                    }

                    &__main {
                        > ul {
                            display: flex;
                            flex-direction: column;
                            gap: 6vh;
                        }
                    }
                }
            }

            &__blog {
                flex-direction: column;

                .home__content__section {
                    &__title {
                        justify-content: center;
                        margin: 0 auto;
                    }

                    &__main {
                        > ul {
                            display: flex;
                            flex-direction: column;
                            gap: 4vh;

                            > li {
                                width: 100%;
                            }
                        }
                    }
                }
            }

            &__contact {
                margin-top: 6vh;
                width: 100%;
                background-color: $--accent-color;

                .home__content__section {
                    &__title {
                        margin-top: 4vh;
                        margin-left: 0;
                        justify-content: center;

                        h4 {
                            color: $--dark-grey-color;
                        }
                    }

                    &__main {
                        width: 100%;
                        position: relative;
                        overflow: hidden;
                        padding-bottom: 2vh;

                        .contact__form {
                            width: calc(100% - 8vh);
                            height: 100%;
                            z-index: 2;
                            padding: 0 4vh;
                        }
                    }
                }
            }
        }
    }
}

@media (min-width: $--min-desktop-width) {
    .home {
        &__content {
            &__wrapper {
                width: 100%;
                margin-top: -55vh;
                z-index: $--max-z-index - 1;

                > svg {
                    > path {
                        transform: translate(-10vh, 0) scale(1);
                    }
                }
            }

            &__main {
                margin-top: -1vh;
                gap: 8vh 0;
                width: 100%;
                padding: 0;
                padding-top: 4vh;
            }

            &__section {
                gap: 2vh;
                align-items: flex-start;
                justify-content: center;

                &__main {
                    width: 100%;
                }

                &__title {
                    align-items: flex-start;
                    gap: 1.7vh;

                    h4 {
                        font-size: 7vh;
                        font-weight: bolder;
                    }
                }

                &__projects {
                    .home__content__section {
                        &__main {
                            > ul {
                                display: grid;
                                grid-template-columns: repeat(auto-fit, minmax(60vh, 1fr));
                                gap: 3vh;
                            }
                        }
                    }
                }

                &__job {
                    .home__content__section {
                        &__main {
                            > ul {
                                flex-direction: column;
                                gap: 4vh;
                            }
                        }
                    }
                }

                &__blog {
                    .home__content__section {
                        &__main {
                            ul {
                                width: 100%;
                            }
                        }
                    }
                }

                &__contact {
                    margin-top: 8vh;

                    .home__content__section {
                        &__title {
                            margin-top: 4vh;
                            margin-left: 8vh;
                        }

                        &__main {
                            width: 100%;

                            .contact__form {
                                padding-left: 8vh;
                            }
                        }
                    }
                }
            }
        }
    }
}