.not-found {
	overflow: hidden;
	height: 100vh;

	.mountains {
		position: fixed;
		bottom: 0;
		overflow: hidden;
	}
}

@media (min-width: $--min-desktop-width) {
	.not-found {
		.mountains {
			bottom: -10vh;
		}
	}
}