.navbar {
    position: fixed;
    z-index: $--max-z-index;
    bottom: 0;
    right: 0;
    opacity: 0;
    width: 8vh;

    -webkit-animation: fade-in 1s ease-in-out 1 forwards;
	-moz-animation:    fade-in 1s ease-in-out 1 forwards;
	-o-animation:      fade-in 1s ease-in-out 1 forwards;
	animation:         fade-in 1s ease-in-out 1 forwards;

    &[data-can-show='false'] {
        .navbar {
            &__content {
                -webkit-transform: translateY(125%);
                -moz-transform:    translateY(125%);
                -o-transform:      translateY(125%);
                transform:         translateY(125%);
            }
    
            &__hamburguer-button {
                border-top-left-radius: $--squircle-border-radius;
            }
        }
    }

    &[data-can-show-languages='true'] {
        .navbar {
            &__content {
                border-top-left-radius: 0;
            }

            &__language {  
                &__list {
                    display: flex;
                    border-radius: 0;
                    border-top-left-radius: $--squircle-border-radius;
                    border-bottom-left-radius: $--squircle-border-radius;
                }
            }
        }
    }

    &__content {
        width: 100%;
        padding-top: 2vh;
        background-color: $--backdrop-background-color-mobile;
        border-top-left-radius: $--pill-border-radius;
        z-index: $--max-z-index + 1;

        box-shadow:         1px 2px 5px 0px rgba(0, 0, 0, 0.05);
        -webkit-box-shadow: 1px 2px 5px 0px rgba(0, 0, 0, 0.05);
        -moz-box-shadow:    1px 2px 5px 0px rgba(0, 0, 0, 0.05);

        -webkit-transform: translateY(0);
        -moz-transform:    translateY(0);
        -o-transform:      translateY(0);
        transform:         translateY(0);

        -webkit-transition: border-radius ease-in-out 0.25s, transform ease-in-out 0.5s;
        -moz-transition:    border-radius ease-in-out 0.25s, transform ease-in-out 0.5s;
        -o-transition:      border-radius ease-in-out 0.25s, transform ease-in-out 0.5s;
        transition:         border-radius ease-in-out 0.25s, transform ease-in-out 0.5s;
    }

    &__internals {
        width: 100%;
        height: 100%;
        position: relative;
        flex-direction: column-reverse;
    }

    &__divider {
        height: 1px;
        width: 60%;
        background-color: $--backdrop-primary-color-light;
        margin: 1vh auto;
        opacity: 0.6;
    }

    &__button {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        padding: 2vh 0;
        position: relative;
        background-color: transparent;
        outline: transparent;
        border: none;
        overflow: hidden;
    
        svg {
            width: 2.3rem;
		    height: 1.3rem;

            -webkit-transition: fill ease-in-out 0.3s;
            -moz-transition:    fill ease-in-out 0.3s;
            -o-transition:      fill ease-in-out 0.3s;
            transition:         fill ease-in-out 0.3s;

            path {
                fill: $--backdrop-primary-color-light;
            }
        }
    }

    &__language {
        position: relative;

        &__list {
            display: none;
            width: 13vh;
            position: absolute;
            flex-direction: column;
            align-items: center;
            overflow: hidden;
            top: -2vh;
            right: 8vh;
            padding: 1.5vh 0;
            gap: 1vh;
            background-color: $--backdrop-background-color-mobile;
            border-radius: $--squircle-border-radius;
            opacity: 0;

            -webkit-animation: fade-in 0.25s ease-in-out 1 0.15s forwards;
            -moz-animation:    fade-in 0.25s ease-in-out 1 0.15s forwards;
            -o-animation:      fade-in 0.25s ease-in-out 1 0.15s forwards;
            animation:         fade-in 0.25s ease-in-out 1 0.15s forwards;

            box-shadow:         1px 2px 5px 0px rgba(0, 0, 0, 0.05);
            -webkit-box-shadow: 1px 2px 5px 0px rgba(0, 0, 0, 0.05);
            -moz-box-shadow:    1px 2px 5px 0px rgba(0, 0, 0, 0.05);
        
            li {
                width: 100%;
        
                &[data-is-selected='true'] {
                    a {
                        color: $--selected-color;

                        div {
                            opacity: 1;
                        }
                    }
                }
        
                a {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    background-color: transparent;
                    outline: none;
                    border: none;
                    width: 100%;
                    height: 3rem;
                    text-decoration: none;
    
                    span {
                        color: $--backdrop-primary-color-light;
                        font-family: 'Roboto Condensed';
                        font-size: 1.5vh;

                        -webkit-transition: color ease-in-out 0.3s;
                        -moz-transition:    color ease-in-out 0.3s;
                        -o-transition:      color ease-in-out 0.3s;
                        transition:         color ease-in-out 0.3s;
                    }

                    div {
                        position: absolute;
                        height: 0.2vh;
                        width: 2vh;
                        background-color: $--green-accent-color;
                        opacity: 0;
                        margin-top: 5.5vh;
                    }                
                }
            }
        }
    }

    &__socials {
        ul {
            align-items: center;
            justify-content: center;
            width: 100%;
        }
    }
    
    &__hamburguer-button {
        height: 7vh;
        background-color: $--green-background-color;
        z-index: $--max-z-index + 2;

        box-shadow:         1px 2px 5px 0px rgba(0, 0, 0, 0.05);
        -webkit-box-shadow: 1px 2px 5px 0px rgba(0, 0, 0, 0.05);
        -moz-box-shadow:    1px 2px 5px 0px rgba(0, 0, 0, 0.05);

        -webkit-transition: border-radius ease-in-out 0.25s;
        -moz-transition:    border-radius ease-in-out 0.25s;
        -o-transition:      border-radius ease-in-out 0.25s;
        transition:         border-radius ease-in-out 0.25s;

        svg {
            path {
                stroke: $--backdrop-primary-color-light;
            }
        }
    }
}

@media (min-width: 801px) {
    .navbar {
        width: 7.5vh;

        &[data-can-show='false'] {
            .navbar {
                &__content {
                    -webkit-transform: translateY(0);
                    -moz-transform:    translateY(0);
                    -o-transform:      translateY(0);
                    transform:         translateY(0);
                }
            }
        }

        &__content {
            padding-top: 2.5vh;
            backdrop-filter: $--backdrop-filter;
            background-color: $--backdrop-background-color;

            -webkit-transform: translateY(0);
            -moz-transform:    translateY(0);
            -o-transform:      translateY(0);
            transform:         translateY(0);
        }

        &__button {
            height: 2.5vh;
            width: 100%;
            padding: 2vh 0;

            svg {
                path {
                    -webkit-transition: fill ease-in-out 0.3s;
                    -moz-transition:    fill ease-in-out 0.3s;
                    -o-transition:      fill ease-in-out 0.3s;
                    transition:         fill ease-in-out 0.3s;
                }
            }

            &:hover {
                cursor: pointer;

                svg {
                    path {
                        fill: $--backdrop-primary-color-dark;
                    }
                }
            }
        }

        &__language {
            &__list {
                padding: 1vh 0.5vh;
                background-color: $--backdrop-background-color;
                backdrop-filter: $--backdrop-filter;
                width: 12vh;
                right: 7vh;
    
                li {
                    a {
                        height: 4.5vh;

                        div {
                            height: 2px;
                            margin-top: 4vh;
                        }

                        &:hover {
                            span {
                                color: $--backdrop-primary-color-dark;
                            }
                        }
                    }
                }
            }
        }
    
        &__socials {
            width: 100%;

            ul {
                width: 100%;
            }
        }

        &__hamburguer-button {
            display: none;
        }
    }
}
