$--hero-section-animation-delay: 0.1s;

.title {
	width: 100%;
    height: 50dvh;

    &__hero {
        justify-content: center;
        align-items: center;
        margin-left: 1vh;
        margin-bottom: 4vh;
        opacity: 0;

        -webkit-transform: translateX(-100vw);
        -moz-transform: translateX(-100vw);
        -o-transform: translateX(-100vw);
        transform: translateX(-100vw);
    
        -webkit-animation: slide-in-reverse $--initial-fade-duration ease-in-out 1 $--hero-section-animation-delay forwards,
                           fade-in          $--initial-fade-duration ease-in-out 1 $--hero-section-animation-delay forwards;
        -moz-animation:    slide-in-reverse $--initial-fade-duration ease-in-out 1 $--hero-section-animation-delay forwards,
                           fade-in          $--initial-fade-duration ease-in-out 1 $--hero-section-animation-delay forwards;
        -o-animation:      slide-in-reverse $--initial-fade-duration ease-in-out 1 $--hero-section-animation-delay forwards,
                           fade-in          $--initial-fade-duration ease-in-out 1 $--hero-section-animation-delay forwards;
        animation:         slide-in-reverse $--initial-fade-duration ease-in-out 1 $--hero-section-animation-delay forwards,
                           fade-in          $--initial-fade-duration ease-in-out 1 $--hero-section-animation-delay forwards;

        h4 {
            font-family: 'Roboto Condensed';
            font-weight: bolder;
            font-size: 5vh;
            color: $--medium-color;
            line-height: 2.58rem;
        }
    }

    &__greet {
        position: fixed;
        justify-content: center;
        align-items: flex-start;
        top: 35dvh;
        left: 2.5vh;
    
        h2 {
            font-size: 15vh;
            text-transform: uppercase;
            font-family: 'Roboto Condensed';
            color: $--medium-color;
            opacity: 0;
    
            -webkit-animation: fade-in $--initial-fade-duration ease-in-out 1 $--initial-fade-duration + 1.9 forwards;
            -moz-animation:    fade-in $--initial-fade-duration ease-in-out 1 $--initial-fade-duration + 1.9 forwards;
            -o-animation:      fade-in $--initial-fade-duration ease-in-out 1 $--initial-fade-duration + 1.9 forwards;
            animation:         fade-in $--initial-fade-duration ease-in-out 1 $--initial-fade-duration + 1.9 forwards;
        }
    
        h3 {
            font-family: 'Roboto Condensed';
            font-style: italic;
            font-weight: 300;
            font-size: 5vh;
            color: $--medium-color;
            opacity: 0;
            margin-left: 1vh;

            -webkit-animation: fade-in $--initial-fade-duration ease-in-out 1 $--initial-fade-duration + 1 forwards;
            -moz-animation:    fade-in $--initial-fade-duration ease-in-out 1 $--initial-fade-duration + 1 forwards;
            -o-animation:      fade-in $--initial-fade-duration ease-in-out 1 $--initial-fade-duration + 1 forwards;
            animation:         fade-in $--initial-fade-duration ease-in-out 1 $--initial-fade-duration + 1 forwards;
        }
    }

    &__pre {
        h3 {
            font-size: 1.4rem;
        }   

        .--last {
            -webkit-animation-delay: $--initial-fade-duration + 1.4;
            -moz-animation-delay:    $--initial-fade-duration + 1.4;
            -o-animation-delay:      $--initial-fade-duration + 1.4;
            animation-delay:         $--initial-fade-duration + 1.4;
        }
    }

    &__name {
        margin-top: -1rem;

        &[data-has-second='true'] {
            display: flex;
            flex-direction: column;
            gap: 1vh;

            h2 {
                font-size: 10vh;
            }

            .--last {
                margin-left: auto;

                -webkit-animation-delay: $--initial-fade-duration + 2.5;
                -moz-animation-delay:    $--initial-fade-duration + 2.5;
                -o-animation-delay:      $--initial-fade-duration + 2.5;
                animation-delay:         $--initial-fade-duration + 2.5;
            }
        }
    }
}

@media (min-width: $--min-desktop-width) {
	.title {
		height: 60vh;

        &__greet {
            top: 32vh;
            left: 15vh;

            h2 {
                font-size: 38vh;
            }

            h3 { 
                font-size: 8vh;
            }
        }

        &__hero {
            gap: 2vh;
            margin-left: 2vh;

            h4 {
                margin: 0;
                font-size: 8vh;
            }
        }

        &__pre {
            margin-left: 1.5vh;

            h3 {
                font-size: 2rem;
            }    
        }

        &__name {
            margin-top: -5vh;

            &[data-has-second='true'] {
                flex-direction: row;

                h2 {
                    font-size: 38vh;
                }

                h3 {
                    margin-top: 18vh;
                }
            }
        }
	}
}