$--hero-section-animation-delay: $--initial-fade-duration;
$--hero-section-animation-duration: 0.7s;

$--greet-section-animation-delay: $--hero-section-animation-delay + $--hero-section-animation-duration;
$--greet-section-animation-duration: 0.4s;

$--pre-section-animation-delay: $--greet-section-animation-delay;

$--name-section-animation-delay: $--greet-section-animation-delay * 1.25;

.title {
	width: 100%;
    height: 50dvh;

    &__wrapper {
        position: fixed;
        justify-content: center;
        align-items: flex-start;
        top: 35dvh;
        left: 2.5vh;
    }

    &__hero {
        justify-content: center;
        align-items: center;
        margin-left: 1vh;
        margin-bottom: 4vh;
        opacity: 0;
        filter: blur($--focus-in-base-blur);

        -webkit-animation: focus-in $--hero-section-animation-duration ease-in-out 1 $--hero-section-animation-delay forwards,
                           fade-in  $--hero-section-animation-duration ease-in-out 1 $--initial-fade-duration        forwards;
        -moz-animation:    focus-in $--hero-section-animation-duration ease-in-out 1 $--hero-section-animation-delay forwards,
                           fade-in  $--hero-section-animation-duration ease-in-out 1 $--initial-fade-duration        forwards;
        -o-animation:      focus-in $--hero-section-animation-duration ease-in-out 1 $--hero-section-animation-delay forwards,
                           fade-in  $--hero-section-animation-duration ease-in-out 1 $--initial-fade-duration        forwards;
        animation:         focus-in $--hero-section-animation-duration ease-in-out 1 $--hero-section-animation-delay forwards,
                           fade-in  $--hero-section-animation-duration ease-in-out 1 $--initial-fade-duration        forwards;

        h4 {
            font-family: 'Roboto Condensed';
            font-weight: bolder;
            font-size: 5vh;
            color: $--medium-color;
            line-height: 2.58rem;
        }
    }

    &__pre {
        h3 {
            font-family: 'Roboto Condensed';
            font-style: italic;
            font-weight: 300;
            font-size: 1.4rem;
            color: $--medium-color;
            margin-left: 1vh;
            opacity: 0;
            filter: blur($--focus-in-base-blur);

            -webkit-animation: focus-in $--greet-section-animation-duration ease-in-out 1 $--pre-section-animation-delay forwards,
                               fade-in  $--greet-section-animation-duration ease-in-out 1 $--pre-section-animation-delay forwards;
            -moz-animation:    focus-in $--greet-section-animation-duration ease-in-out 1 $--pre-section-animation-delay forwards,
                               fade-in  $--greet-section-animation-duration ease-in-out 1 $--pre-section-animation-delay forwards;
            -o-animation:      focus-in $--greet-section-animation-duration ease-in-out 1 $--pre-section-animation-delay forwards,
                               fade-in  $--greet-section-animation-duration ease-in-out 1 $--pre-section-animation-delay forwards;
            animation:         focus-in $--greet-section-animation-duration ease-in-out 1 $--pre-section-animation-delay forwards,
                               fade-in  $--greet-section-animation-duration ease-in-out 1 $--pre-section-animation-delay forwards;
        } 

        .--last {
            -webkit-animation-delay: $--pre-section-animation-delay * 1.1;
            -moz-animation-delay:    $--pre-section-animation-delay * 1.1;
            -o-animation-delay:      $--pre-section-animation-delay * 1.1;
            animation-delay:         $--pre-section-animation-delay * 1.1;
        }
    }

    &__name {
        margin-top: -1rem;

        &[data-has-second='true'] {
            display: flex;
            flex-direction: column;
            gap: 1vh;
        }

        h2 {
            font-size: 15vh;
            text-transform: uppercase;
            font-family: 'Roboto Condensed';
            color: $--medium-color;
            opacity: 0;
            filter: blur($--focus-in-base-blur);

            -webkit-animation: focus-in $--greet-section-animation-duration ease-in-out 1 $--name-section-animation-delay forwards,
                               fade-in  $--greet-section-animation-duration ease-in-out 1 $--name-section-animation-delay forwards;
            -moz-animation:    focus-in $--greet-section-animation-duration ease-in-out 1 $--name-section-animation-delay forwards,
                               fade-in  $--greet-section-animation-duration ease-in-out 1 $--name-section-animation-delay forwards;
            -o-animation:      focus-in $--greet-section-animation-duration ease-in-out 1 $--name-section-animation-delay forwards,
                               fade-in  $--greet-section-animation-duration ease-in-out 1 $--name-section-animation-delay forwards;
            animation:         focus-in $--greet-section-animation-duration ease-in-out 1 $--name-section-animation-delay forwards,
                               fade-in  $--greet-section-animation-duration ease-in-out 1 $--name-section-animation-delay forwards;
        }

        .--last {
            margin-left: auto;
            font-family: 'Roboto Condensed';
            font-style: italic;
            font-weight: 300;
            font-size: 10vh;
            color: $--medium-color;
            margin-left: 1vh;
            opacity: 0;
            filter: blur($--focus-in-base-blur);

            -webkit-animation: focus-in $--greet-section-animation-duration ease-in-out 1 $--name-section-animation-delay * 1.15 forwards,
                               fade-in  $--greet-section-animation-duration ease-in-out 1 $--name-section-animation-delay * 1.15 forwards;
            -moz-animation:    focus-in $--greet-section-animation-duration ease-in-out 1 $--name-section-animation-delay * 1.15 forwards,
                               fade-in  $--greet-section-animation-duration ease-in-out 1 $--name-section-animation-delay * 1.15 forwards;
            -o-animation:      focus-in $--greet-section-animation-duration ease-in-out 1 $--name-section-animation-delay * 1.15 forwards,
                               fade-in  $--greet-section-animation-duration ease-in-out 1 $--name-section-animation-delay * 1.15 forwards;
            animation:         focus-in $--greet-section-animation-duration ease-in-out 1 $--name-section-animation-delay * 1.15 forwards,
                               fade-in  $--greet-section-animation-duration ease-in-out 1 $--name-section-animation-delay * 1.15 forwards;
        }
    }
}

@media (min-width: $--min-desktop-width) {
	.title {
		height: 60vh;

        &__wrapper {
            top: 32vh;
            left: 15vh;
        }

        &__hero {
            gap: 2vh;
            margin-left: 2vh;

            h4 {
                margin: 0;
                font-size: 8vh;
            }
        }

        &__pre {
            margin-left: 1.5vh;

            h3 {
                font-size: 2rem;
            }    
        }

        &__name {
            margin-top: -5vh;

            &[data-has-second='true'] {
                flex-direction: row;

                h2 {
                    font-size: 38vh;
                }
            }

            h2 {
                font-size: 38vh;
            }
    
            .--last {
                margin-top: 17vh;
                font-size: 8vh;
            }
        }
	}
}