.about {
	&__text {
		display: flex;
		flex-direction: column;
		justify-content: center;
		min-height: 92vh;
		width: 100%;
		gap: 1rem;

		& span {
			text-align: center;
			color: white;
			font-family: 'Ubuntu-Mono-Regular';
			font-size: 1.3rem;

			&:first-of-type {
				margin: 0 0 1rem 0;
			}
		}

		& span:first-of-type, &-big {
			font-family: 'Ubuntu-Mono-Bold' !important;
			font-size: 3rem !important;
		}
	}
}

@media (min-width: 801px) {
	.about {
		&__text {
			gap: 2vh;
			width: 50%;
			min-height: 46vh;
			margin: 0 0 0 5vh;
	
			& span {
				font-size: 2.5vh;
				text-align: left;

				&:first-of-type {
					margin: 0 0 2vh 0;
				}
			}

			& span:first-of-type, &-big {
				font-size: 6vh;
			}
		}
	}	
}