.home {
    align-items: center;
    justify-content: center;

    &__content {
        align-items: center;
        width: 100vw;
        height: 100vh;
        position: relative;
        background-color: #071333;

        &__window {
            backdrop-filter: blur(16px) saturate(90%);
            border-radius: 1.5vh;
            width: 80%;
            height: 82dvh;
            z-index: 2;
            opacity: 0;
            margin-top: 5dvh;

            -webkit-animation: fade-in 1s ease-in-out 1s 1 forwards;
            -moz-animation:    fade-in 1s ease-in-out 1s 1 forwards;
            -o-animation:      fade-in 1s ease-in-out 1s 1 forwards;
            animation:         fade-in 1s ease-in-out 1s 1 forwards;

            box-shadow:         1px 2px 5px 0px rgba(0, 0, 0, 0.75);
            -webkit-box-shadow: 1px 2px 5px 0px rgba(0, 0, 0, 0.75);
            -moz-box-shadow:    1px 2px 5px 0px rgba(0, 0, 0, 0.75);
        }

        &__waves {
            width: 100%;
            bottom: 0;
            position: absolute;
            z-index: 1;
            height: 50vh;
            overflow: hidden;
    
            svg {
                height: 100%;
                margin-top: 15vh;
                position: absolute;

                -webkit-transform: translateY(100vh);
                -moz-transform:    translateY(100vh);
                -ms-transform:     translateY(100vh);
                transform:         translateY(100vh);

                -webkit-animation: descend-in-reverse 1s cubic-bezier(.4,.13,.14,1.61) 1 forwards;
                -moz-animation:    descend-in-reverse 1s cubic-bezier(.4,.13,.14,1.61) 1 forwards;
                -o-animation:      descend-in-reverse 1s cubic-bezier(.4,.13,.14,1.61) 1 forwards;
                animation:         descend-in-reverse 1s cubic-bezier(.4,.13,.14,1.61) 1 forwards;

                &:first-of-type {
                    -webkit-animation-delay: 0.2s;
                    -moz-animation-delay:    0.2s;
                    -o-animation-delay:      0.2s;
                    animation-delay:         0.2s;
                }

                &:nth-of-type(2) {
                    -webkit-animation-delay: 0s;
                    -moz-animation-delay:    0s;
                    -o-animation-delay:      0s;
                    animation-delay:         0s;
                }

                &:last-of-type {
                    -webkit-animation-delay: 0.3s;
                    -moz-animation-delay:    0.3s;
                    -o-animation-delay:      0.3s;
                    animation-delay:         0.3s;
                }
            }
        }
    }
}

@media (min-width: 801px) {
    .home {
        &__content {
            &__waves {
                height: 60vh;
                svg {
                    margin-top: 15vh;
                }
            }
        }
    }
}