.home {
	display: 'flex';
	width: 100%;
	height: 100vh;

	-webkit-animation: fade-in 0.2s ease-in-out;
    -moz-animation:    fade-in 0.2s ease-in-out;
    -o-animation: 	   fade-in 0.2s ease-in-out;
    animation: 		   fade-in 0.2s ease-in-out;

	&__title {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		color: white;
		height: 100%;
		transform-origin: 50% 50%;
		font-size: 3rem;
		gap: 0 1rem;

		-webkit-animation: zoom-in 0.5s ease-in-out;
    	-moz-animation:    zoom-in 0.5s ease-in-out;
    	-o-animation: 	   zoom-in 0.5s ease-in-out;
    	animation: 		   zoom-in 0.5s ease-in-out;

		& span:first-of-type {
			font-family: 'Ubuntu-Mono-Regular';
			margin: 0 0 0 -5rem;
		}

		& div:first-of-type {
			background-color: white;
			width: 0.6rem;
			height: 4rem;

			-webkit-animation: blink 0.8s ease-in-out infinite 0.5s;
    		-moz-animation:    blink 0.8s ease-in-out infinite 0.5s;
    		-o-animation: 	   blink 0.8s ease-in-out infinite 0.5s;
    		animation: 		   blink 0.8s ease-in-out infinite 0.5s;
		}

		& span:last-of-type  {
			font-family: 'Shizuru-Regular';
			width: 10vw;

			-webkit-animation: art-fonts 1.2s linear infinite 0.5s;
    		-moz-animation:    art-fonts 1.2s linear infinite 0.5s;
    		-o-animation: 	   art-fonts 1.2s linear infinite 0.5s;
    		animation: 		   art-fonts 1.2s linear infinite 0.5s;
		}
	}

	&__footer {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		overflow: hidden;
		position: absolute;
		bottom: 0;
		width: 100%;
		padding: 1rem 0;

		&-button {
			display: flex;
			margin: 0 auto 2rem auto;
			align-items: center;
			justify-content: center;
			background-color: #131313;
			outline: 0;
			border: 0;
			border-radius: 50%;
			transition: background-color 0.2s ease-in-out;
			width: 3.6rem;
			height: 3.6rem;

			-webkit-animation: up-in 1.5s cubic-bezier(0.075, 0.82, 0.165, 1) 1;
    		-moz-animation:    up-in 1.5s cubic-bezier(0.075, 0.82, 0.165, 1) 1;
    		-o-animation: 	   up-in 1.5s cubic-bezier(0.075, 0.82, 0.165, 1) 1;
    		animation: 		   up-in 1.5s cubic-bezier(0.075, 0.82, 0.165, 1) 1;

			&:active {
				& div:last-of-type {
					background-color: rgba(29, 29, 29, 1);
					transform: scale(1);
				}
			}

			& svg {
				transition: transform 0.2s ease-in-out, margin 0.2s ease-in-out;
				transform: rotateX(0deg);
				fill: white;
				width: 55%;
				height: 55%;
				z-index: 3;
			}

			& div:last-of-type {
				position: absolute;
				transform: scale(0);
				transform-origin: bottom left;
				background-color: rgba(29, 29, 29, 0);
				border-radius: 50%;
				transition: transform 0.2s ease-in-out, background-color 0.2s ease-in-out;
				width: 3.6rem;
				height: 3.6rem;
			}

			&[is-upward="false"] {
				& svg {
					margin: 1vh 0 0 0;
					transform: rotateX(-180deg);
				}
			}
		}
	}
}

@media (min-width: 801px) {
	.home {
		&__title {
			gap: 0 1vw;
			font-size: 8vh;

			& span:first-of-type {
				margin: 0;
			}

			& div:first-of-type {
				width: 0.6vw;
				height: 8vh;
			}
	
			& span:last-of-type  {
				width: 10vw;
			}
		}
	
		&__footer {
			padding: 2vh 0;
	
			&-button {
				margin: 0 auto 0 auto;
				width: 5.4vh;
				height: 5.4vh;

				&:hover {
					cursor: pointer;
	
					& div:last-of-type {
						background-color: rgba(29, 29, 29, 0.4);
						transform: scale(1);
					}
				}

				& svg {
					width: 55%;
					height: 55%;
				}
	
				& div:last-of-type {
					width: 5.4vh;
					height: 5.4vh;
				}
			}
		}
	}
}