.home {
	flex-direction: column;
	overflow: hidden;

	& .preview-redirector {
		height: 100%;
		flex: 2;

		-webkit-transition: flex ease-in-out 0.2s;
		-moz-transition:    flex ease-in-out 0.2s;
		-o-transition:      flex ease-in-out 0.2s;
		transition:         flex ease-in-out 0.2s;
	
		&:focus {
			flex: 5;
		}
	}
}

@media (min-width: 801px) {
	.home {
		flex-direction: row;
	}
}