.projects {
    display: flex;
    align-items: center;
    height: 100%;
    min-height: 46vh;
    overflow: hidden;
}

@media (min-width: 801px) {
    .projects {
        justify-content: center;

        & .carousel {
            height: 45vh !important;
            width: 35vw !important;
            margin-top: 2vh !important;
            border-radius: 15px;
        }
    }
}
