.blogs {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 4vh;

	> ul {
		width: 100%;
		display: flex;
		flex-direction: column;
		gap: 4vh;
        list-style: none;
	}
}

@media (min-width: $--min-desktop-width) {
	.blogs {
		flex-direction: row;
		gap: 4vh;

		> ul {
			gap: 2vh;
			max-height: 60vh;
			overflow-y: auto;
		}
	}
}