.blogs {
	display: flex;
	flex-direction: column;
	gap: 4vh;

	> ul {
		gap: 4vh;
	}
}

@media (min-width: $--min-desktop-width) {
	.blogs {
		flex-direction: row;
		gap: 4vh;

		> ul {
			display: flex;
			flex-direction: column;
			gap: 2vh;
		}
	}
}