.jobs {
	display: flex;
	flex-direction: column;
	gap: 2vh;
}

@media (min-width: $--min-desktop-width) {
	.jobs {
		flex-direction: row;
		gap: 2vh;

		> ul {
			display: flex;
			flex-direction: column;
			gap: 2vh;
		}
	}
}