.language__button {
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
    border: none;
    position: fixed !important;
    border-radius: 15px;
    margin: 2.5dvh 1vh 0 0;
    padding: 1vh;
    top: 0;
    right: 0;

    & svg {
        width: 1.5rem;
        height: 1.5rem;
        fill: #2a3331;
    }
}

.language__list {
    position: absolute;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
    background-color: #343434;
    overflow: hidden;
    display: none;
    margin: 8dvh 2vh 0 0;
    z-index: 4;
    top: 0;
    right: 0;

    box-shadow: 1px 2px 5px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 1px 2px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 1px 2px 5px 0px rgba(0, 0, 0, 0.75);

    &[data-can-show='true'] {
        display: flex;
    }

    & li {
        width: 100%;
        height: 3rem;

        &[data-is-selected='true'] {
            & button {
                color: rgb(200, 156, 56);
            }
        }

        & button {
            background-color: transparent;
            outline: none;
            border: none;
            width: 100%;
            height: 100%;
            padding: 1rem;
            color: white;

            -webkit-transition: color ease-in-out 0.2s;
            -moz-transition: color ease-in-out 0.2s;
            -o-transition: color ease-in-out 0.2s;
            transition: color ease-in-out 0.2s;
        }
    }
}

@media (min-width: 801px) {
    .language__button {
        margin: 1vh 1vh 0 auto;

        & svg {
            width: 2.5vh;
            height: 2.5vh;
        }
    }

    .language__list {
        margin: 7vh 4vh 0 0;
        top: 0;
        right: 0;

        & li {
            height: 6vh;

            &[data-is-selected='false'] {
                & button {
                    &:hover {
                        color: rgba(2, 70, 64, 1);
                    }
                }
            }

            & button {
                padding: 2vh;
            }
        }
    }
}
