.blog {
    width: 100vw;
    gap: 3vh;
    color: $--grey-color;
    overflow-y: auto;
    padding-bottom: $--home-margin-mobile;

    &__banner {
        width: 100%;
        height: 45vh;
        overflow: hidden;
        position: relative;

        &__image {
            -webkit-transform: scale(0.4);
            -moz-transform:    scale(0.4);
            -o-transform:      scale(0.4);
            transform:         scale(0.4);
        }

        &__content {
            flex-direction: column;
            position: absolute;
            width: 100%;
            height: 100%;
            background-color: adjust-color(
                $color: #2b2a29,
                $alpha: -0.3
            );
            color: #dbdbdb;
            gap: 2vh;

            &__title, &__description {
                font-family: "Roboto Condensed";
            }

            &__title {
                font-weight: 700;
                font-size: 2.5rem;
                text-align: center;
                margin-top: 2vh;
                animation-delay: 0.2s;
            }
    
            &__description {
                margin-top: 1vh;
                font-weight: 400;
                font-size: 1.2rem;
                text-align: center;
                padding: 0 5vw;
                animation-delay: 0.3s;
            }

            .tags {
                width: 70%;
                margin-top: 1vh;
                justify-content: center;
                animation-delay: 0.4s;
            }
        }
    }

    &__content {
        padding: 0 5vw;
        padding-top: 5vh;
        animation-delay: 0.6s;
    }
}

@media only screen and (min-width: $--min-tablet-width) {
    .blog {
        padding-bottom: $--home-margin;
    }
}

@media only screen and (min-width: $--min-desktop-width) {
    .blog {
        gap: 6vh;

        &__banner {
            min-height: 40vh;
            height: 27vw;

            &__image {
                -webkit-transform: scale(1);
                -moz-transform:    scale(1);
                -o-transform:      scale(1);
                transform:         scale(1);
            }

            &__content {
                &__title {
                    font-size: 3.5rem;
                }

                &__description {
                    width: 40%;
                    padding: 0;
                }
            }
        }

        &__content {
            padding: 0 15vw;
            padding-top: 5vh;
        }
    }
}
