.blog {
    width: calc(100vw - $--home-margin-mobile);
    padding: 0 $--home-margin-mobile / 2;
    align-items: center;
    gap: 3vh;
    color: $--grey-color;
    overflow-y: auto;
    padding-bottom: $--home-margin-mobile;

    &__banner {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 4dvh;

        img {
            width: calc(100% - 4vh);
            height: 40vw;
            padding: 2vh;
            border: 1px solid $--backdrop-background-color-mobile;
        }
    }

    &__content {
        &__header {
            margin: 0 auto;
            gap: 2vh 0;
            margin-bottom: 5vh;
            align-items: center;

            &__title, &__description {
                font-family: "Roboto Condensed";
            }
        
            &__title {
                font-weight: 700;
                font-size: 2rem;
                text-align: center;
                margin-top: 2vh;
            }
    
            &__description {
                margin-top: 1vh;
                font-weight: 400;
                font-size: 1.2rem;
                opacity: 0.8;
                text-align: center;
            }

            .tags {
                width: auto;
                margin-top: 1vh;
                justify-content: center;
            }

            &__divider {
                width: 40%;
                height: 0.3vh;
                background-color: black;
                border-radius: $--squircle-border-radius;
                opacity: 0.2;
                margin: 0 auto;
                margin-top: 2vh;
            }
        }

        &__footer {
            margin-bottom: -0.1vh;
            width: 100vw;
            overflow-y: hidden;

            svg {
                width: 100%;
                height: 100%;

                -webkit-transform: translateX(-35vh);
                -moz-transform:    translateX(-35vh);
                -o-transform:      translateX(-35vh);
                transform:         translateX(-35vh);
    
                path {
                    fill: $--black;
                }
            }
        }
    }
}


@media only screen and (min-width: $--min-desktop-width) {
    .blog {
        height: calc(100vh - $--home-margin);
        width: 70vw;
        padding: 0 15vw;
        margin: 0;
        margin-top: $--home-margin;
        gap: 6vh;

        &__banner {
            margin-top: 4vh;

            img {
                width: 55vw;
                height: 27vw;
                padding: 2vh;
            }
        }

        &__content {
            &__header {
                width: 100%;
                gap: 2vh;

                &__title {
                    font-size: 8vh;
                }

                &__description {
                    font-size: 3vh;
                }

                &__divider {
                    width: 10%;
                }
            }
        }
    }
}
