.blog {
    width: 100vw;
    gap: 1em;
    color: $--grey-color;
    overflow-y: auto;
    padding-bottom: $--home-margin-mobile;

    &__banner {
        width: 100%;
        height: 20em;
        overflow: hidden;
        position: relative;

        &__image {
            -webkit-transform: scale(0.4);
            -moz-transform:    scale(0.4);
            -o-transform:      scale(0.4);
            transform:         scale(0.4);
        }

        &__content {
            flex-direction: column;
            position: absolute;
            width: 100%;
            height: 100%;
            background-color: adjust-color(
                $color: #2b2a29,
                $alpha: -0.3
            );
            color: #dbdbdb;
            gap: 1em;

            &__title, &__description {
                font-family: "Roboto Condensed";
            }

            &__title {
                font-weight: 700;
                font-size: 2.5em;
                text-align: center;
                margin-top: 2vh;
                animation-delay: 0.2s;
            }
    
            &__description {
                margin-top: 1vh;
                font-weight: 400;
                font-size: 1.2em;
                text-align: center;
                padding: 0 5vw;
                animation-delay: 0.3s;
            }

            .tags {
                width: 70%;
                margin-top: 1vh;
                justify-content: center;
                animation-delay: 0.4s;
            }
        }
    }

    &__content {
        padding: 1em 2em;
        animation-delay: 0.6s;

        .actions {
            margin: 0 0 0 calc(calc($--home-margin-mobile / 2) * -1);

            .language-action__list {
                top: calc(-100dvh + 3em);
                height: 0;
                width: 100%;

                .world-map {
                    margin-top: 3em;
                }

                &[data-is-visible="true"] {
                    height: calc(100dvh - 3em);
                }
            }
        }
    }
}

@media only screen and (min-width: $--min-tablet-width) and (max-width: $--min-desktop-width) {
    .blog {
        padding-bottom: $--home-margin;

        &__banner {
            height: 30em;

            &__image {
                -webkit-transform: scale(0.6);
                -moz-transform:    scale(0.6);
                -o-transform:      scale(0.6);
                transform:         scale(0.6);
            }
        }

        &__content {
            .actions {
                left: 0;
                margin: 0;
            }
        }
    }
}

@media only screen and (min-width: $--min-desktop-width) {
    .blog {
        gap: 3em;
        align-items: center;

        &__banner {
            height: 35em;

            &__image {
                -webkit-transform: scale(1);
                -moz-transform:    scale(1);
                -o-transform:      scale(1);
                transform:         scale(1);
            }

            &__content {
                &__title {
                    font-size: 3.5em;
                }

                &__description {
                    width: 40%;
                    padding: 0;
                }
            }

            .tags {
                span {
                    font-size: 0.8em;
                }
            }
        }

        &__content {
            padding-top: 2em;
            max-width: 1080px;

            .actions {
                bottom: 0.5em;
                left: 2em;

                .language-action__list {
                    top: 0;
                    left: 3.5em;
                    height: 100vh;
                    width: 0;

                    .world-map {
                        width: 80em;
                        margin-top: 2em;
                    }

                    &[data-is-visible="true"] {
                        width: calc(100% - 3em);
                        height: 100vh;
                    }
                }
            }
        }
    }
}
