.home {
    width: calc(100vw - $--home-margin-mobile);
    height: calc(100dvh - ($--home-margin-mobile * 2)) - 0.2dvh;
    margin: $--home-margin-mobile ($--home-margin-mobile / 2);
    border: 1px solid $--dark-grey-color;
    overflow-y: auto;

    &__header {
        height: calc(100% - 5vh);
        padding: 2dvh;

        &__title {
            h1, h2 {
                font-family: 'Roboto Condensed';
                color: $--dark-grey-color;
            }

            h1 {
                font-size: min(12vw, 3em);
            }

            h2 {
                font-size: min(6vw, 1.5em);
                font-weight: 200;
            }
        }

        .menu {
            margin-top: auto;
        }
    }

    &__content {
        margin-top: 8vh;
        gap: 6vh;
        padding: 2dvh;

        article {
            display: flex;
            flex-direction: column;

            h3 {
                font-family: 'Roboto Condensed';
                font-size: min(8vw, 2em);
                color: $--dark-grey-color;
                padding: 1vh 0;
                margin-bottom: 2vh;
            }
        }
    }

    .--redirector {
        position: relative;
        margin-top: 2.5em;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: transparent;
        font-family: 'Roboto Condensed';
        font-weight: 400;
        border: 1px solid $--dark-grey-color;
        height: 3.6em;
        font-size: 1em;
        text-decoration: none;
        color: $--dark-grey-color;
        overflow: hidden;

        &:active,
        &:focus,
        &:hover {
            color: $--accent-color;

            .--skewd-background {
                -webkit-transform: translateX(0);
                -moz-transform:    translateX(0);
                -o-transform:      translateX(0);
                transform:         translateX(0);
            }
        }

        span {
            z-index: 2;
        }
    }
}

@media only screen and (min-width: $--min-desktop-width) {
    .home {
        display: flex;
        flex-direction: row;
        width: calc(100vw - ($--home-margin * 2));
        height: calc(100dvh - ($--home-margin * 2)) - 0.2dvh;
        margin: $--home-margin;
        gap: 1vh;

        &__header {
            height: auto;
            flex: 0.75;
            padding-right: 0;
            max-width: 80vh;

            &__title {
                h1 {
                    font-size: 4em;
                }

                h2 {
                    font-weight: 200;
                }
            }
        }

        &__content {
            margin: 0;
            flex: 1.25;
            padding-left: 0;
            overflow-y: auto;

            article {
                h3 {
                    font-size: 3.5em;
                }
            }
        }
    }
}