.home {
    width: calc(100vw - $--home-margin-mobile);
    height: calc(100dvh - ($--home-margin-mobile * 2)) - 0.2dvh;
    margin: $--home-margin-mobile ($--home-margin-mobile / 2);
    border: 1px solid $--dark-grey-color;
    overflow-y: auto;

    &__header {
        height: calc(100% - 5vh);
        padding: 2dvh;

        &__title {
            h1, h2 {
                font-family: 'Roboto Condensed';
                color: $--dark-grey-color;
            }

            h1 {
                font-size: min(12vw, 3rem);
            }

            h2 {
                font-size: min(6vw, 1.5rem);
                font-weight: 200;
            }
        }

        .menu {
            margin-top: auto;
        }
    }

    &__content {
        margin-top: 8vh;
        gap: 6vh;
        padding: 2dvh;

        article {
            display: flex;
            flex-direction: column;

            h3 {
                font-family: 'Roboto Condensed';
                font-size: min(8vw, 2rem);
                color: $--dark-grey-color;
                padding: 1vh 0;
                margin-bottom: 2vh;
            }
        }
    }
}

@media only screen and (min-width: $--min-desktop-width){
    .home {
        display: flex;
        flex-direction: row;
        width: calc(100vw - ($--home-margin * 2));
        height: calc(100dvh - ($--home-margin * 2)) - 0.2dvh;
        margin: $--home-margin;
        gap: 1vh;

        &__header {
            height: auto;
            flex: 0.75;
            padding-right: 0;
            max-width: 80vh;

            &__title {
                h1 {
                    font-size: 4rem;
                }

                h2 {
                    font-weight: 200;
                }
            }
        }

        &__content {
            margin: 0;
            flex: 1.25;
            padding-left: 0;
            overflow-y: auto;

            article {
                h3 {
                    font-size: 3.5rem;
                }
            }
        }
    }
}