.home {
    align-items: center;
    overflow-x: hidden;

    .mountain {
        width: 100%;
		height: 52vh;
        overflow: hidden;
    }

    &__content {
        align-items: center;
        width: 100vw;
        position: relative;
        background-color: transparent;
    
        &__wrapper {
            width: 100%;
            margin-top: -10dvh;
            z-index: $--max-z-index - 1;
            opacity: 0;
    
            -webkit-animation: fade-in $--initial-fade-duration ease-in-out 1 forwards;
            -moz-animation:    fade-in $--initial-fade-duration ease-in-out 1 forwards;
            -o-animation:      fade-in $--initial-fade-duration ease-in-out 1 forwards;
            animation:         fade-in $--initial-fade-duration ease-in-out 1 forwards;
        }

        &__main {
            display: flex;
            flex-direction: column;
            background-color: $--grey-color;
            width: 100%;
            height: 100%;
            margin-top: -5.5dvh;
            padding: 8vh 0;
            padding-bottom: 0;
            align-items: center;
        }

        &__section {
            display: flex;
            flex-direction: column;
            gap: 4vh;
            width: calc(100% - 8vh);
            padding: 12vh 4vh;

            &__title {
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                gap: 1.5vh;

                h4 {
                    font-family: 'Inter';
                    font-size: 3rem;
                    font-weight: bolder;
                    color: $--accent-color;
                    text-align: center;
                }
            }

            &__main {
                position: relative;

                > ul {
                    width: 100%;
                }
            }

            &__projects {
                .home__content__section {
                    &__main {
                        > ul {
                            display: grid;
                            grid-template-columns: repeat(auto-fit, 1fr);
                            gap: 3vh;
                        }
                    }
                }
            }

            &__job {
                background-color: $--black;
            }

            &__blog {
                flex-direction: column;

                .home__content__section {
                    &__main {
                        > ul {
                            display: flex;
                            flex-direction: column;
                            gap: 4vh;

                            > li {
                                width: 100%;
                            }
                        }
                    }
                }
            }

            &__contact {
                background-color: $--black;
            }
        }
    }
}

@media only screen and (min-width: $--min-tablet-width) {
    .home {
        .mountain {
            height: 38vh;
        }
    }
}

@media only screen and (min-width: $--min-desktop-width) {
    .home {
        .mountain {
            height: 45vh;
        }

        &__content {
            &__wrapper {
                width: 100%;
                margin-top: -55vh;
                z-index: $--max-z-index - 1;
            }

            &__main {
                margin-top: -1vh;
                gap: 0;
                width: 100%;
                padding: 0;
            }

            &__section {
                gap: 7vh;
                align-items: flex-start;
                justify-content: center;
                width: calc(100% - 16vh);
                padding: 12vh 8vh;

                &__main {
                    width: 100%;
                }

                &__title {
                    align-items: flex-start;
                    gap: 1.7vh;

                    h4 {
                        font-size: 3rem;
                        letter-spacing: 0.05ch;
                        font-weight: 700;
                    }
                }
            }
        }
    }
}