.project-search {
    width: calc(100vw - $--home-margin-mobile);
    height: calc(100dvh - ($--home-margin-mobile * 2));
    margin: $--home-margin-mobile ($--home-margin-mobile / 2);
    border: 1px solid $--dark-grey-color;
    overflow-y: auto;

    .actions {
        margin: 0 0 0 calc(calc($--home-margin-mobile / 2) * -1);

        .language-action {
            &__list {
                height: 0;
                width: calc(calc(100vw - $--home-margin-mobile) + 0.1em);
                margin: calc(calc(calc(100dvh - calc($--home-margin-mobile * 2)) * -1) - 0.55em) 0 0 0;

                &[data-is-visible="true"] {
                    height: calc(100dvh - calc($--home-margin-mobile * 2));
                }
            }
        }
    }

    &__content {
        width: calc(100% - ($--mobile-padding * 2));
        height: auto;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 2em;
        padding: $--mobile-padding;

        h1 {
            font-family: 'Roboto Condensed';
            font-size: min(12vw, 5em);
            color: $--dark-grey-color;
        }

        .projects {
            flex-wrap: wrap;
            align-items: center;
            width: 100%;
            padding: 0 0 $--mobile-padding 0;
            overflow: visible;

            > li {
                display: flex;
                justify-content: center;

                .project-card {
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
}

@media only screen and (min-width: $--min-desktop-width) {
    .project-search {
        display: flex;
        flex-direction: row;
        width: calc(100vw - ($--home-margin * 2));
        max-width: 1920px;
        height: calc(calc(100dvh - ($--home-margin * 2)) - 0.1em);
        margin: $--home-margin;
        gap: 1vh;

        .actions {
            height: 100%;
            margin: 0 0 0 -2.7em;

            .language-action {
                &__list {
                    width: 0;
                    height: calc(calc(100dvh - ($--home-margin * 2)) - 0.1em);
                    margin: 0 0 0 2.7em;
                    max-width: 1920px;

                    &[data-is-visible="true"] {
                        width: calc(100vw - calc($--home-margin * 2));
                    }
                }
            }
        }

        &__content {
            width: calc(100% - ($--desktop-padding * 2));
            padding: $--desktop-padding;

            h1 {
                font-size: 4em;
            }

            > .projects {
                padding: 0 0 $--desktop-padding 0;
                gap: 1.45em;
    
                > li {
                    .project-card {
                        min-width: 30em;
                        font-size: 1em;

                        &__thumbnail {
                            width: 100%;
                            height: 100%;
    
                            img {
                                height: 100%;
                            }
                        }
                    }
                }
            }
        }
    }
}