$--background-color: #232426;
$--accent-color: #494c51;

$--selected-background-color: #365751;
$--selected-color: #81c7bb;

$--green-color: #0b997d;
$--medium-color: #455657;
$--dark-green-color: #345C54;

$--grey-color: #343434;
$--light-grey-color: #757575;
$--dark-grey-color: #aeaeae;

$--black: #bebdbd;
$--white: #222222;

$--box-shadow: 1px 2px 5px 0px rgba(0, 0, 0, 0.55);