$--background-color: #e2e8f0;
$--accent-color: #e2e8f0;

$--selected-background-color: #345C54;
$--selected-color: #e2e8f0;

$--green-color: #0b997d;
$--medium-green-color: #455657;
$--dark-green-color: #345C54;

$--grey-color: #343434;
$--light-grey-color: #757575;
$--dark-grey-color: #323232;

$--black: #4c4c4c;
$--white: #dbdbdb;

$--box-shadow: 1px 2px 5px 0px rgba(0, 0, 0, 0.55);