//Layout Import
@import 'layout/animations';
@import 'layout/mods';

//Components Import
@import 'components/button';
@import 'components/contact-form';
@import 'components/home-button';
@import 'components/footer';
@import 'components/markdown';
@import 'components/mountains';
@import 'components/socials';
@import 'components/theme-button';

@import 'components/cards/blog';
@import 'components/cards/job';
@import 'components/cards/project';

@import 'components/listing/blog';
@import 'components/listing/job';
@import 'components/listing/language';
@import 'components/listing/menu';
@import 'components/listing/project';
@import 'components/listing/tag';

//Pages Import
@import 'pages/blog';
@import 'pages/home';
@import 'pages/not-found';

body {
	background-color: $--background-color;

    header {
        width: 100%;
        position: fixed;
        bottom: 0;
        left: 0;
        z-index: 2;
    }

    footer {
        position: absolute;
        top: ($--home-margin-mobile / 2) - 1dvh;
    }
}

@media only screen and (min-width: $--min-desktop-width) {
    body {
        header {
            bottom: initial;
            top: 0;
        }

        footer {
            top: initial;
            bottom: ($--home-margin / 2) - 1dvh
        }
    }
}