//Layout Import
@import 'layout/animations';
@import 'layout/mods';

//Components Import
@import 'components/actions';
@import 'components/button';
@import 'components/contact-form';
@import 'components/footer';
@import 'components/markdown';
@import 'components/mountains';
@import 'components/socials';
@import 'components/world-map';

@import 'components/cards/blog';
@import 'components/cards/job';
@import 'components/cards/project';

@import 'components/listing/blog';
@import 'components/listing/job';
@import 'components/listing/menu';
@import 'components/listing/project';
@import 'components/listing/tag';

//Pages Import
@import 'pages/blog-search';
@import 'pages/blog';
@import 'pages/home';
@import 'pages/not-found';
@import 'pages/project-search';

body {
	background-color: $--background-color;

    -webkit-transition: background-color ease-in-out 0.2s, opacity ease-in-out 0.2s;
    -moz-transition:    background-color ease-in-out 0.2s, opacity ease-in-out 0.2s;
    -o-transition:      background-color ease-in-out 0.2s, opacity ease-in-out 0.2s;
    transition:         background-color ease-in-out 0.2s, opacity ease-in-out 0.2s;

    footer {
        position: absolute;
        width: 100%;
        text-align: center;
        top: calc(calc($--home-margin-mobile / 2) - 0.5em);
    }
}

@media only screen and (min-width: $--min-desktop-width) {
    body {
        footer {
            top: initial;
            bottom: calc(calc($--home-margin / 2) - 0.5em);
        }
    }
}