$--info-padding: 1rem;
$--info-padding-desktop: 2vh;

.blog-card {
    display: flex;
	flex-direction: column;
    align-items: center;
    width: 100%;
	color: $--accent-color;
    position: relative;
	text-decoration: none;
	border-radius:  $--squircle-border-radius;
	overflow: hidden;

	&__thumbnail {
		display: flex;
		flex-direction: column;
		width: 100%;
		min-height: 25vh;
			
		img {
			width: 100%;
			height: 100%;
		}

	}

	&__header {
		display: flex;
		align-items: center;
		width: 100%;
		background-color: $--selected-color;

		&__block {
			height: 100%;
			width: 100%;
			display: flex;
			flex-direction: row;
			align-items: center;
			gap: 0.7vh;
			padding: $--info-padding;

			span {
				font-family: 'Inter';
				font-weight: 500;
				font-size: 1.1rem;	
			}
		}

		&__date {
			justify-content: flex-end;
			opacity: 0.7;
		}
	}

    &__data {
        display: flex;
        flex-direction: column;
		justify-content: center;
        width: 100%;
		height: 100%;
		color: $--accent-color;
		background-color: #303030;
		border-bottom-left-radius: $--squircle-border-radius;
		border-bottom-right-radius: $--squircle-border-radius;

		&__info {
			height: 100%;
			width: calc(100% - ($--info-padding * 2));
			display: flex;
			flex-direction: column;
			gap: 2vh;
			position: relative;
			padding: calc($--info-padding * 1.4) $--info-padding;

			&__title {
				font-family: 'Inter';
				font-weight: 400;
				font-size: 1.3rem;
				line-height: 1.25;
				overflow: auto;
			}
		
			&__description {
				font-family: 'Inter';
				font-weight: 300;
				font-size: 0.9rem;
				opacity: 0.7;
				line-height: 1.25;
				overflow: auto;
			}
		}

		&__arrow {
			display: flex;
			flex-direction: row;
			align-items: center;

			span {
				font-family: 'Inter';
				font-weight: 700;
				font-size: 1.15rem;
				color: $--green-accent-color;
			}

			svg, path {
				width: 5vh;
				height: 4vh;
				stroke: $--green-accent-color
			}
		}
    }
}

@media (min-width: $--min-desktop-width) {
    .blog-card {
		height: 28vh;
		flex-direction: row;
		gap: 0;

        &:hover {
            cursor: pointer;

			.blog-card {
				&__data {
					&__arrow {
						svg {
							-webkit-transform: translateX(0.25vh);
							-moz-transform:    translateX(0.25vh);
							-o-transform:      translateX(0.25vh);
							transform:         translateX(0.25vh);
						}
					}
				}
			}
        }

		&__header {
			font-size: 1.1rem;

			&__block {
				padding: $--info-padding-desktop;
			}
		}

		&__thumbnail {
			height: 100%;
			width: calc(50% - 8rem);
			flex-direction: column-reverse;
		}

        &__data {
            width: 100%;
            height: 100%;
			padding: 0;
			border-radius: 0;

            &__info {
				width: calc(100% - ($--info-padding-desktop * 3));
				gap: 1.5vh;
				padding: $--info-padding-desktop;
				justify-content: center;

				&__title {
					font-size: 2.1rem;
					max-height: 3rem;
				}
	
				&__description {
					font-size: 1rem;
					max-height: 3rem;
				}
			}

			&__arrow {
				span {
					font-size: 1.05rem;
				}

				svg {
					-webkit-transition: transform ease-in-out 0.2s;
					-moz-transition:    transform ease-in-out 0.2s;
					-o-transition:      transform ease-in-out 0.2s;
					transition:         transform ease-in-out 0.2s;
				}
			}
        }
    }
}