$--info-padding: 1rem;
$--info-padding-desktop: 2.5vh;

.blog-card {
    display: flex;
	flex-direction: column;
    align-items: center;
    width: 100%;
	color: $--accent-color;
    position: relative;
	text-decoration: none;
	border-radius:  $--squircle-border-radius;
	overflow: hidden;

	&[aria-disabled="true"] {
		opacity: 0.7;
		box-shadow: none;
	}

	&__thumbnail {
		display: flex;
		flex-direction: column;
		width: 100%;
			
		img {
			width: 100%;
			height: 100%;
		}
	}

    &__data {
        display: flex;
        flex-direction: column;
		justify-content: center;
        width: 100%;
		height: 100%;
		color: $--accent-color;
		background-color: $--dark-grey-color;
		border-bottom-left-radius: $--squircle-border-radius;
		border-bottom-right-radius: $--squircle-border-radius;

		&__info {
			height: 100%;
			width: calc(100% - ($--info-padding * 2));
			display: flex;
			flex-direction: column;
			gap: 2vh;
			position: relative;
			padding: calc($--info-padding * 1.4) $--info-padding;
			padding-top: 1.5vh;

			&__title {
				font-family: 'Inter';
				font-weight: 400;
				font-size: 1.3rem;
				line-height: 1.25;
				overflow: auto;
			}
		
			&__description {
				font-family: 'Inter';
				font-weight: 300;
				font-size: 0.9rem;
				opacity: 0.7;
				line-height: 1.25;
				overflow: auto;
			}
		}
    }

	&__header {
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		gap: 1.5vh;
		width: 100%;

		&__block {
			height: 100%;
			display: flex;
			flex-direction: row;
			align-items: center;
			gap: 1vh;
			background-color: $--selected-color;
			padding: 0 1.5vh;
			height: 4vh;
			border-radius: 3vh;

			span {
				font-family: 'Inter';
				font-weight: 500;
				font-size: 0.8rem;
			}
		}
	}
}

@media (min-width: $--min-desktop-width) {
    .blog-card {
		width: 100%;
		height: 19vh;
		flex-direction: row;
		gap: 0;

		&[aria-disabled="true"] {
			&:hover {
				cursor: default;
			}
		}

		&[aria-disabled="false"] {
			-webkit-transition: transform ease-in-out 0.2s;
			-moz-transition:    transform ease-in-out 0.2s;
			-o-transition:      transform ease-in-out 0.2s;
			transition:         transform ease-in-out 0.2s;

			&:hover {
				cursor: pointer;

				-webkit-transform: translateY(-0.25vh);
				-moz-transform:    translateY(-0.25vh);
				-o-transform:      translateY(-0.25vh);
				transform:         translateY(-0.25vh);
			}

			&[data-is-showcase="true"] {
				&:hover {
					.blog-card__thumbnail {
						box-shadow:         1px 2px 5px 2px rgba(121, 120, 120, 0.15);
						-webkit-box-shadow: 1px 2px 5px 2px rgba(121, 120, 120, 0.15);
						-moz-box-shadow:    1px 2px 5px 2px rgba(121, 120, 120, 0.15);
					}
				}	
			}
		}

		&[data-is-showcase="true"] {
			width: 55%;
			height: auto;
			flex-direction: column;
			gap: 0;
			box-shadow: none;
			border-radius: 0;

			.blog-card {
				&__thumbnail {
					height: 35vh;
					width: 30vw;
					border-radius: $--squircle-border-radius;
					overflow: hidden;

					-webkit-transition: box-shadow ease-in-out 0.2s;
					-moz-transition:    box-shadow ease-in-out 0.2s;
					-o-transition:      box-shadow ease-in-out 0.2s;
					transition:         box-shadow ease-in-out 0.2s;
				}

				&__data {
					height: 20vh;
					background-color: transparent;

					&__info {
						width: 100%;
						padding-left: 0;
					}
				}
			}
		}

		&__thumbnail {
			height: 100%;
			width: calc(46% - 8rem);
			flex-direction: column-reverse;
		}

        &__data {
            width: 100%;
            height: 100%;
			border-radius: 0;

            &__info {
				width: calc(100% - $--info-padding-desktop);
				gap: 2vh;
				padding: $--info-padding-desktop;

				&__title {
					font-size: 1.8rem;
					font-weight: 700;
					max-height: 3rem;
				}

				&__description {
					font-size: 0.9rem;
				}
			}
        }

		&__header {
			gap: 1.5vh;
			width: 100%;
	
			&__block {
				height: 3.8vh;
				gap: 1vh;
				padding: 0 1.5vh;

				span {
					font-size: 0.85rem;
				}
			}
		}
    }
}