.job-card {
	display: flex;
	flex-direction: column;
	width: 100%;
	position: relative;
	gap: 2vh;
	font-family: 'Inter';
	color: $--accent-color;
	line-height: 1.25;

	&__date {
		margin: 0 0 0 1vh;

		&__text {
			display: flex;
			flex-direction: row;
			align-items: center;
			gap: 0 1vh;
			font-weight: 500;
			font-size: 2vh;
			opacity: 0.4;
		}

		&__divider {
			height: 0.2vh;
			width: 2vh;
			background-color: $--accent-color;
		}
	}
	
	&__info {
		display: flex;
		flex-direction: column;
		gap: 1vh 0;
		flex: 2.5;
		padding: 3vh;
		background-color: $--dark-grey-color;
		border-radius: 1.5vh;

		&__company {
			font-size: 3vh;
			font-weight: 500;
		}

		&__description {
			width: 100%;
			font-size: 1.8vh;
			line-height: 1.5;
			opacity: 0.7;
		}
		
		.tags {
			margin-top: 1vh;
		}
	}

	&[data-is-loading='true'] {
		.job-card {
			&__date {
				margin-right: 4vh;

				&__text {
					width: 25vh;
					height: 6vh;

					svg {
						width: 100%;
						height: 100%;
						overflow: hidden;
						border-radius: 1.5vh;
					}
				}
			}

			&__info {
				&__company {
					height: 6vh;
					width: 40%;

					svg {
						width: 100%;
						height: 100%;
						overflow: hidden;
						border-radius: 1.5vh;
					}
				}

				&__description {
					height: 18vh;
					width: 100%;
					margin-top: 1vh;

					svg {
						width: 100%;
						height: 100%;
						overflow: hidden;
						border-radius: 1.5vh;
					}
				}
			}
		}
	}
}

@media (min-width: $--min-desktop-width) {
	.job-card {
		flex-direction: row;
		width: 100%;
		position: relative;
		gap: 1vh;

		&__date { 
			width: 28vh;
			margin: 3vh 0 0 0;

			&__text {
				flex-direction: row;
				gap: 0 1vh;
				width: 100%;
				font-size: 1.65vh;
			}
		}

		&__info {
			flex-direction: column;
			gap: 1vh 0;
			flex: 2.5;

			&__company {
				font-size: 2.4vh;
			}

			&__description {
				width: 100%;
				font-size: 1.7vh;
			}
		}

		&[data-is-loading='true'] {
			.job-card {
				&__date {
					margin-right: 4vh;

					&__text {
						height: 6vh;
					}
				}

				&__info {
					&__company {
						height: 6vh;
						width: 40%;
					}

					&__description {
						height: 18vh;
						width: 80%;
						margin-top: 1vh;
					}
				}
			}
		}
	}
}