.job-card {
	display: flex;
	flex-direction: column;
	width: 100%;
	position: relative;
	gap: 2vh;
	font-family: 'Inter';
	color: $--accent-color;
	line-height: 1.25;

	&__date {
		margin: 0 0 0 1vh;

		&__text {
			display: flex;
			flex-direction: row;
			align-items: center;
			gap: 0 1vh;
			font-weight: 500;
			font-size: 2vh;
		}

		span {
			opacity: 0.4;
		}

		&__divider {
			height: 0.2vh;
			width: 2vh;
			background-color: $--accent-color;
			opacity: 0.4;
		}
	}
	
	&__info {
		display: flex;
		flex-direction: column;
		gap: 1vh 0;
		flex: 2.5;
		padding: 3vh;
		background-color: $--dark-grey-color;
		border-radius: $--squircle-border-radius;

		&__company {
			font-size: 3vh;
			font-weight: 500;
		}

		&__description {
			width: 100%;
			font-size: 1.8vh;
			line-height: 1.5;
			opacity: 0.7;
		}
		
		.tags {
			margin-top: 1vh;
		}
	}
}

@media only screen and (min-width: $--min-desktop-width) {
	.job-card {
		flex-direction: column;
		width: 40vw;
		position: relative;
		gap: 1vh;
		background-color: $--dark-grey-color;
		border-radius: $--squircle-border-radius;
		padding: 3vh;

		&[data-is-showcase="true"] {
			width: 30vw;
			flex-direction: column;
			padding: 0;
			border-radius: $--squircle-border-radius;
			background-color: transparent;

			.job-card {
				&__date {
					margin: 0;
					width: 100%;

					& span:last-of-type {
						opacity: 1;
						color: $--green-color;
						text-decoration: underline;
					}
				}

				&__info {
					width: 100%;
					background-color: transparent;
					box-shadow: none;
					padding: 0;

					&__company {
						font-size: 2.8rem;
					}
				}
			}
		}

		&__date { 
			width: 28vh;
			margin:0;

			&__text {
				flex-direction: row;
				gap: 0 1vh;
				width: 100%;
				font-size: 1.65vh;
			}
		}

		&__info {
			flex-direction: column;
			gap: 1vh 0;
			flex: 1;
			max-width: 40vw;
			background-color: transparent;
			box-shadow: none;
			padding: 0;

			&__company {
				font-size: 2.4vh;
			}

			&__description {
				width: 100%;
				font-size: 1.7vh;
			}
		}
	}
}