$--background-animation-duration: 120s;

.project-card {
    flex-direction: column;
    align-items: center;
    gap: 1vh;
    width: 100%;
    overflow: hidden;
    position: relative;
	text-decoration: none;
    border-radius: $--squircle-border-radius;

    &__wrapper {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        gap: 0.5vh;
        position: relative;
    }

    &__header {
        width: calc(100% - 4vh);
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: 2vh;
        padding: 2vh;
        margin-bottom: 17vh;

        h5 {
            font-family: 'Roboto Condensed';
            font-weight: 700;
            font-size: 6vh;
        }
    }

    &__description {
        position: relative;

        span {
            font-family: 'Inter';
            font-weight: 400;
            font-size: 2.5vh;
            width: 80%;
            position: absolute;
            z-index: 1;
            bottom: 2vh;
            left: 2vh;
        }

        &__background {
            width: 190%;
            position: absolute;
            bottom: -1vh;
            z-index: 0;
    
            &.--behind {
                bottom: -0.5vh;
                opacity: 0.7;
                
                -webkit-animation: slide-left $--background-animation-duration * 2 cubic-bezier(0.36, 0.45, 0.63, 0.53) infinite;
                -moz-animation:    slide-left $--background-animation-duration * 2 cubic-bezier(0.36, 0.45, 0.63, 0.53) infinite;
                -o-animation:      slide-left $--background-animation-duration * 2 cubic-bezier(0.36, 0.45, 0.63, 0.53) infinite;
                animation:         slide-left $--background-animation-duration * 2 cubic-bezier(0.36, 0.45, 0.63, 0.53) infinite;
            }

            -webkit-animation: slide-left $--background-animation-duration cubic-bezier(0.36, 0.45, 0.63, 0.53) infinite;
            -moz-animation:    slide-left $--background-animation-duration cubic-bezier(0.36, 0.45, 0.63, 0.53) infinite;
            -o-animation:      slide-left $--background-animation-duration cubic-bezier(0.36, 0.45, 0.63, 0.53) infinite;
            animation:         slide-left $--background-animation-duration cubic-bezier(0.36, 0.45, 0.63, 0.53) infinite;

            -webkit-animation-fill-mode: forwards;
            -moz-animation-fill-mode:    forwards;
            -o-animation-fill-mode:      forwards;
            animation-fill-mode:         forwards;

            -webkit-animation-direction: alternate;
            -moz-animation-direction:    alternate;
            -o-animation-direction:      alternate;
            animation-direction:         alternate;
        }
    }

    &__arrow {
        position: absolute;
        bottom: 2vh;
        right: 2vh;
        height: 3vh;
        width: 3vh;

        svg {
            height: 100%;
            width: 100%;
            border-radius: 1.5vh;
        }
    }
}

@media (min-width: $--min-desktop-width) {
    .project-card {
        border-radius: 1.5vh;
        align-items: flex-start;

        &__header {
            width: calc(100% - 2.5vh);
            padding: 2.5vh;
            padding-bottom: 0;
            gap: 2vh;
            margin-bottom: 17vh;

            h5 {
                font-size: 6vh;
            }
        }

        &__description {
            span {
                font-size: 2.25vh;
            }

            &__background {
                width: 130%;
                bottom: -10.5vh;

                &.--behind {
                    bottom: -10vh;
                }
            }
        }
    }
}