$--info-padding: 1rem;
$--info-padding-desktop: 1rem;

.blog-card {
    display: flex;
	flex-direction: column;
    align-items: center;
    width: calc(100% - 2vh);
	color: $--accent-color;
    position: relative;
	text-decoration: none;
	overflow: hidden;
    border: 1px solid $--backdrop-background-color-mobile;

	&[aria-disabled="true"] {
		opacity: 0.7;
		box-shadow: none;
	}

	&__thumbnail {
		display: flex;
		flex-direction: column;
		width: 100%;
			
		img {
			width: 100%;
			height: 100%;
		}
	}

    &__data {
        display: flex;
        flex-direction: column;
		justify-content: center;
        width: 100%;
		height: 100%;
		color: $--backdrop-background-color-mobile;
        background-color: transparent;
        position: relative;
        overflow: hidden;

        &__background {
            display: block;
            width: 115%;
            height: 100%;
            position: absolute;
            background-color: $--backdrop-background-color-mobile;
            z-index: 1;

            -webkit-transform: translateX(-130%) skewX(-20deg);
            -moz-transform:    translateX(-130%) skewX(-20deg);
            -o-transform:      translateX(-130%) skewX(-20deg);
            transform:         translateX(-130%) skewX(-20deg);

            -webkit-transition: transform ease-in-out 0.2s;
            -moz-transition:    transform ease-in-out 0.2s;
            -o-transition:      transform ease-in-out 0.2s;
            transition:         transform ease-in-out 0.2s;
        }

		&__info {
			height: 100%;
			width: calc(100% - ($--info-padding * 2));
			display: flex;
			flex-direction: column;
			gap: 1vh;
			position: relative;
			padding: $--info-padding;
            z-index: 2;

            -webkit-transition: color ease-in-out 0.2s;
            -moz-transition:    color ease-in-out 0.2s;
            -o-transition:      color ease-in-out 0.2s;
            transition:         color ease-in-out 0.2s;

			&__title {
				font-family: 'Inter';
				font-weight: 400;
				font-size: 1.3rem;
				line-height: 1.25;
                margin-top: 1vh;
				overflow: auto;
			}
		
			&__description {
				font-family: 'Inter';
				font-weight: 300;
				font-size: 0.9rem;
				opacity: 0.7;
				line-height: 1.25;
                margin-top: 1.5vh;
				overflow: auto;
			}
		}
    }

	&__header {
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		gap: 1.5vh;
		width: 100%;

		&__block {
			height: 100%;
			display: flex;
			flex-direction: row;
			align-items: center;
			gap: 1vh;
			background-color: $--selected-color;
			padding: 0 1.5vh;
			height: 4vh;

			span {
				font-family: 'Inter';
				font-weight: 500;
				font-size: 0.8rem;
			}
		}
	}

    &:active,
    &:focus,
    &:hover {
        &[aria-disabled="true"] {
			cursor: default;
		}

        &[aria-disabled="false"] {
            cursor: pointer;

            .blog-card {
                &__data {
                    &__background {
                        -webkit-transform: translateX(0);
                        -moz-transform:    translateX(0);
                        -o-transform:      translateX(0);
                        transform:         translateX(0);
                    }
    
                    .tags {
                        li {
                            background-color: $--accent-color;

                            span {
                                color: $--backdrop-background-color-mobile;
                            }

                            svg {
                                fill: $--backdrop-background-color-mobile;
                            }
                        }
                    }

                    &__info {
                        color: $--accent-color;
                    }
                }
            }
        }
    }
}

@media only screen and (orientation: landscape) {
    .blog-card {
		height: 13vh;
		flex-direction: row;
		gap: 0;

		&__thumbnail {
			height: 23vh;
			width: 22rem;
            overflow: hidden;
			flex-direction: column-reverse;

            img {
                -webkit-transform: scale(1.2);
                -moz-transform:    scale(1.2);
                -o-transform:      scale(1.2);
                transform:         scale(1.2);
            }
		}

        &__data {
            width: 100%;
            height: 100%;

            &__info {
				width: calc(100% - calc($--info-padding-desktop * 2));
				gap: 0vh;

				&__title {
					font-size: 2vh;
					font-weight: 700;
					max-height: 6rem;
				}

				&__description {
					font-size: 1.3vh;
				}
			}
        }

		&__header {
			gap: 1.5vh;
			width: 100%;
	
			&__block {
				height: 3.8vh;
				gap: 1vh;
				padding: 0 1.5vh;

				span {
					font-size: 0.85rem;
				}
			}
		}
    }
}