$--mobile-padding: 2vh;

.blog-card {
    position: relative;
    width: calc(34.5vh - ($--mobile-padding * 2));
    height: calc(90% - ($--mobile-padding * 2));
    align-items: center;
    border: 1px solid $--dark-grey-color;
    padding: $--mobile-padding;
    gap: 2vh;

    font-family: 'Roboto Condensed';
	color: $--accent-color;
	text-decoration: none;

	&[aria-disabled="true"] {
		opacity: 0.7;
		box-shadow: none;
	}

	&__thumbnail {
		display: flex;
		flex-direction: column;
        width: 100%;
        height: auto;
        z-index: 2;

        img {
            width: 100%;
            height: auto;
        }
	}

    &__info {
        position: relative;
        width: 100%;
		justify-content: center;
        background-color: transparent;
        gap: 0.8vh;
		color: $--dark-grey-color;
        position: relative;
        z-index: 2;

        &__title, &__description {
            letter-spacing: .01em;
            overflow-wrap: break-word;
        }

	    &__title {
	    	font-weight: 700;
	    	font-size: 1.4rem;
	    	line-height: 1.1;
            justify-content: flex-start;
	    }
	    
	    &__description {
	    	font-weight: 300;
	    	font-size: 0.9rem;
	    	opacity: 0.7;
	    	line-height: 1.25;
            height: 5rem;
	    }

        .tags {
            margin-bottom: 2vh;
        }
    }

    &:active,
    &:focus,
    &:hover {
        &[aria-disabled="true"] {
			cursor: default;
		}

        &[aria-disabled="false"] {
            cursor: pointer;

            .blog-card {
                &__info {
                    color: $--accent-color;

                    &__background {
                        -webkit-transform: translateX(0);
                        -moz-transform:    translateX(0);
                        -o-transform:      translateX(0);
                        transform:         translateX(0);
                    }
    
                    .tags {
                        li {
                            background-color: $--white;

                            span {
                                color: $--black;
                            }

                            svg path {
                                fill: $--black;
                                stroke: $--white;
                            }
                        }
                    }
                }
            }
        }
    }
}

$--desktop-padding: min(1.5rem, 2vw);

@media only screen and (min-width: $--min-desktop-width){
    .blog-card {
        width: calc(28vw - ($--desktop-padding * 2));
        height: calc(100% - ($--desktop-padding * 2));
        padding: $--desktop-padding;
        gap: 1rem;

        &__info {
            &__title {
                font-size: min(2.5vw, 2rem);
            }

            &__description {
                font-size: min(1vw, 1rem);
                height: 3rem;
            }
        }
    }
}