.job-card {
	width: auto;
    height: calc(100% - 4vh);
	position: relative;
	display: flex;
	flex-direction: column;
	gap: 2vh;
	font-family: 'Roboto Condensed';
	color: $--accent-color;
	line-height: 1.25;
    padding: 2.5vh;
    color: $--dark-grey-color;
    border: 1px solid $--dark-grey-color;

    &[data-is-current="true"] {
        background-color: $--dark-grey-color;
        color: $--accent-color;

        .job-card {
            &__header__date {
                background-color: $--white;
                color: $--black;

                &__divider {
                    background-color: $--black;
                }
            }

            &__info {
                .tags li {
                    background-color: $--white;
                    color: $--black;
                }
            }
        }
    }

    &__header {
        gap: 1vh;
        align-items: center;
        justify-content: center;
        margin-bottom: 0.6rem;

        &__title {
            font-size: 2rem;
        }

        &__date {
            align-items: center;
            gap: 0 1vh;
            font-size: 0.6rem;
            color: $--white;
            background-color: $--black;
            padding: 0.2rem 0.4rem;

            -webkit-transition: background-color ease-in-out 0.2s, color ease-in-out 0.2s;
            -moz-transition:    background-color ease-in-out 0.2s, color ease-in-out 0.2s;
            -o-transition:      background-color ease-in-out 0.2s, color ease-in-out 0.2s;
            transition:         background-color ease-in-out 0.2s, color ease-in-out 0.2s;

            &__divider {
                height: 1px;
                width: 0.5rem;
                background-color: $--white;
            }
        }
    }
	
	&__info {
		display: flex;
		flex-direction: column;
		gap: 2vh;
		flex: 2.5;

		&__company {
			font-size: 3vh;
			font-weight: 500;
		}

		&__description {
			width: 100%;
			font-size: 1.8vh;
			line-height: 1.5;
		}
		
		.tags {
			margin-top: auto;
		}
	}
}

@media only screen and (min-width: $--min-tablet-width){
	.job-card {
		gap: 1rem;
        padding: min(1.5rem, 2vw);

        &__header {
            gap: 0.6rem;

            &__title {
                font-size: min(6vh, 2.5rem);
            }

            &__date {
                font-size: 0.7rem;
            }
        }

		&__info {
			gap: 1vh 0;
			flex: 1;

			&__description {
                font-size: min(2.5vh, 0.9rem);
			}
		}
	}
}