.job-card {
	width: calc(100% - 6vh);
	position: relative;
	display: flex;
	flex-direction: column;
	gap: 2vh;
	font-family: 'Roboto Condensed';
	color: $--accent-color;
	line-height: 1.25;
    padding: 2.5vh;
    color: $--backdrop-background-color-mobile;
    border: 1px solid $--backdrop-background-color-mobile;

    &[data-is-current="true"] {
        background-color: $--backdrop-background-color-mobile;
        color: $--accent-color;
    }

    &__header {
        height: 5vh;
        gap: 1vh;
        margin: 0;
        align-items: center;
        justify-content: center;

        &__title {
            font-size: 2.4vh;
        }

        &__date {
            align-items: center;
            gap: 0 1vh;
            font-size: 1.2vh;
            font-style: italic;

            &__divider {
                height: 1px;
                width: 1vh;
                background-color: $--accent-color;
                opacity: 0.4;
            }
        }
    }
	
	&__info {
		display: flex;
		flex-direction: column;
		gap: 2vh;
		flex: 2.5;

		&__company {
			font-size: 3vh;
			font-weight: 500;
		}

		&__description {
			width: 100%;
			font-size: 1.8vh;
			line-height: 1.5;
			opacity: 0.7;
		}
		
		.tags {
			margin-top: auto;
		}
	}
}

@media only screen and (orientation: landscape) {
	.job-card {
        min-height: 25vh;
		gap: 1vh;

		&__info {
			flex-direction: column;
			gap: 1vh 0;
			flex: 1;
			max-width: 40vw;
			background-color: transparent;
			box-shadow: none;

			&__description {
				width: 100%;
				font-size: 1.7vh;
			}
		}
	}
}