.job-card {
	width: auto;
	position: relative;
	display: flex;
	flex-direction: column;
	gap: 2vh;
	font-family: 'Roboto Condensed';
	color: $--accent-color;
	line-height: 1.25;
    padding: 2.5vh;
    color: $--backdrop-background-color-mobile;
    border: 1px solid $--backdrop-background-color-mobile;

    &[data-is-current="true"] {
        background-color: $--backdrop-background-color-mobile;
        color: $--accent-color;

        .job-card {
            &__header__date__divider {
                background-color: $--accent-color;
            }
        }
    }

    &__header {
        gap: 1vh;
        align-items: center;
        justify-content: center;

        &__title {
            font-size: 1.5rem;
        }

        &__date {
            align-items: center;
            gap: 0 1vh;
            font-size: 0.6rem;
            font-style: italic;

            &__divider {
                height: 1px;
                width: 1vh;
                background-color: $--backdrop-background-color-mobile;
            }
        }
    }
	
	&__info {
		display: flex;
		flex-direction: column;
		gap: 2vh;
		flex: 2.5;

		&__company {
			font-size: 3vh;
			font-weight: 500;
		}

		&__description {
			width: 100%;
			font-size: 1.8vh;
			line-height: 1.5;
		}
		
		.tags {
			margin-top: auto;
		}
	}
}

@media only screen and (orientation: landscape) {
	.job-card {
        min-height: 25vh;
		gap: 1vh;

        &__header {
            gap: 3vh;

            &__title {
                font-size: 2.5rem;
            }

            &__date {
                font-size: 0.8rem;

                &__divider {
                    height: 0.2vh;
                }
            }
        }

		&__info {
			gap: 1vh 0;
			flex: 1;

			&__description {
				width: 100%;
				font-size: 1.7vh;
			}
		}
	}
}