.project-card {
    position: relative;
    width: calc(100% - ($--mobile-padding * 2));
    height: auto;
    align-items: center;
    border: 1px solid $--dark-grey-color;
    padding: $--mobile-padding;
    gap: 1rem;
    font-size: 0.9em;

    font-family: 'Roboto Condensed';
	color: $--accent-color;
	text-decoration: none;

    &:active,
    &:focus,
    &:hover {
        .project-card {
            &__info {
                color: $--accent-color;

                .tags {
                    li {
                        background-color: $--white;

                        span {
                            color: $--black;
                        }

                        svg path {
                            fill: $--black;
                            stroke: $--white;
                        }
                    }
                }
            }
    
            &__background {
                -webkit-transform: translateX(0);
                -moz-transform:    translateX(0);
                -o-transform:      translateX(0);
                transform:         translateX(0);
            }
        }
    }

    &__thumbnail {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
        z-index: 2;

        img {
            width: 100%;
            height: auto;
        }
    }

    &__info {
        z-index: 2;
        position: relative;
        width: 100%;
        gap: 0.25em;
        background-color: transparent;
		color: $--dark-grey-color;
        justify-content: center;

        &__title, &__description {
            letter-spacing: .01em;
            overflow-wrap: break-word;
        }

	    &__title {
	    	font-weight: 700;
	    	font-size: 1.4rem;
	    	line-height: 1.1;
            justify-content: flex-start;
	    }
	    
	    &__description {
	    	font-weight: 300;
	    	font-size: 0.9rem;
	    	opacity: 0.7;
	    	line-height: 1.25;
            height: 5rem;
	    }
    }
}

@media only screen and (min-width: $--min-desktop-width) {
    .project-card {
        width: calc(100% - ($--desktop-padding * 2));
        height: calc(100% - ($--desktop-padding * 2));
        padding: $--desktop-padding;

        &__info {
            gap: 0.5em;

            &__title {
                font-size: 2rem;
            }

            &__description {
                font-size: 1rem;
                height: 3rem;
            }
        }
    }
}