$--background-animation-duration: 120s;

.project-card {
    min-height: 5rem;
    position: relative;
    justify-content: center;
    text-decoration: none;
    color: $--dark-grey-color;
    border: 1px solid $--dark-grey-color;
    padding: 1.5vh 1.25vh;
    gap: 1vh;

    &:active,
    &:focus,
    &:hover {
        color: $--accent-color;

        div {
            -webkit-transform: translateX(0);
            -moz-transform:    translateX(0);
            -o-transform:      translateX(0);
            transform:         translateX(0);
        }
    }

    &__title, &__description {
        font-family: 'Roboto Condensed';
        z-index: 2;
    }

    &__title {
        font-family: 'Roboto Condensed';
        font-weight: 700;
        font-size: 3vh;
    }

    &__description {
        font-weight: 200;
        font-style: italic;
    }
}

$--mountain-bottom-distance-desktop: -1vh;

@media only screen and (min-width: $--min-desktop-width){
    .project-card {
        min-width: 10vw;
        padding: 1vh 1.8vh;

        &__title {
            font-size: 3vh;
        }
    }
}