$--background-animation-duration: 120s;

.project-card {
    min-height: 5rem;
    overflow: hidden;
    position: relative;
    justify-content: center;
    text-decoration: none;
    color: $--backdrop-background-color-mobile;
    border: 1px solid $--backdrop-background-color-mobile;
    padding: 1.5vh 1.25vh;
    gap: 1vh;

    -webkit-transition: color ease-in-out 0.2s;
    -moz-transition:    color ease-in-out 0.2s;
    -o-transition:      color ease-in-out 0.2s;
    transition:         color ease-in-out 0.2s;

    &:active,
    &:focus,
    &:hover {
        color: $--accent-color;

        div {
            -webkit-transform: translateX(0);
            -moz-transform:    translateX(0);
            -o-transform:      translateX(0);
            transform:         translateX(0);
        }
    }

    h5, span {
        font-family: 'Roboto Condensed';
        z-index: 2;
    }

    h5 {
        font-family: 'Roboto Condensed';
        font-weight: 700;
        font-size: 3vh;
    }

    span {
        font-weight: 200;
        font-style: italic;
    }

    div {
        position: absolute;
        width: 100%;
        height: 101%;
        background-color: $--backdrop-background-color-mobile;
        z-index: 1;
        top: 0;
        left: 0;

        -webkit-transform: translateX(-120%) skewX(-20deg);
        -moz-transform:    translateX(-120%) skewX(-20deg);
        -o-transform:      translateX(-120%) skewX(-20deg);
        transform:         translateX(-120%) skewX(-20deg);

        -webkit-transition: transform ease-in-out 0.2s;
        -moz-transition:    transform ease-in-out 0.2s;
        -o-transition:      transform ease-in-out 0.2s;
        transition:         transform ease-in-out 0.2s;
    }
}

$--mountain-bottom-distance-desktop: -1vh;

@media only screen and (orientation: landscape) {
    .project-card {
        min-width: 10vw;
        padding: 1vh 1.8vh;

        h5 {
            font-size: 3vh;
        }
    }
}