@-webkit-keyframes zoom-in {
	from {
		opacity: 0;
		transform: scale(0);
	}
	to {
		transform: scale(1);
		opacity: 1;
	}
}

@-moz-keyframes zoom-in {
	from {
		opacity: 0;
		transform: scale(0);
	}
	to {
		transform: scale(1);
		opacity: 1;
	}
}

@-ms-keyframes zoom-in {
	from {
		opacity: 0;
		transform: scale(0);
	}
	to {
		transform: scale(1);
		opacity: 1;
	}
}

@-o-keyframes zoom-in {
	from {
		opacity: 0;
		transform: scale(0);
	}
	to {
		transform: scale(1);
		opacity: 1;
	}
}

@keyframes zoom-in {
	from {
		opacity: 0;
		transform: scale(0);
	}
	to {
		transform: scale(1);
		opacity: 1;
	}
}

@-webkit-keyframes up-in {
	0% {
		margin-bottom: -50rem;
	}
	10% {
		margin-bottom: -0.5rem;
	}
	20% {
		margin-bottom: 2.5rem;
	}
	30% {
		margin-bottom: -0.45rem;
	}
	40% {
		margin-bottom: 1.5rem;
	}
	50% {
		margin-bottom: 0.25rem;
	}
	60% {
		margin-bottom: -0.2rem;
	}
	70% {
		margin-bottom: 0.15rem;
	}
	80% {
		margin-bottom: -0.15rem;
	}
	90% {
		margin-bottom: 0.1rem;
	}
	100% {
		margin-bottom: 2rem;
	}
}

@-moz-keyframes up-in {
	0% {
		margin-bottom: -50rem;
	}
	10% {
		margin-bottom: -0.5rem;
	}
	20% {
		margin-bottom: 2.5rem;
	}
	30% {
		margin-bottom: -0.45rem;
	}
	40% {
		margin-bottom: 1.5rem;
	}
	50% {
		margin-bottom: 0.25rem;
	}
	60% {
		margin-bottom: -0.2rem;
	}
	70% {
		margin-bottom: 0.15rem;
	}
	80% {
		margin-bottom: -0.15rem;
	}
	90% {
		margin-bottom: 0.1rem;
	}
	100% {
		margin-bottom: 2rem;
	}
}

@-ms-keyframes up-in {
	0% {
		margin-bottom: -50rem;
	}
	10% {
		margin-bottom: -0.5rem;
	}
	20% {
		margin-bottom: 2.5rem;
	}
	30% {
		margin-bottom: -0.45rem;
	}
	40% {
		margin-bottom: 1.5rem;
	}
	50% {
		margin-bottom: 0.25rem;
	}
	60% {
		margin-bottom: -0.2rem;
	}
	70% {
		margin-bottom: 0.15rem;
	}
	80% {
		margin-bottom: -0.15rem;
	}
	90% {
		margin-bottom: 0.1rem;
	}
	100% {
		margin-bottom: 2rem;
	}
}

@-o-keyframes up-in {
	0% {
		margin-bottom: -50rem;
	}
	10% {
		margin-bottom: -0.5rem;
	}
	20% {
		margin-bottom: 2.5rem;
	}
	30% {
		margin-bottom: -0.45rem;
	}
	40% {
		margin-bottom: 1.5rem;
	}
	50% {
		margin-bottom: 0.25rem;
	}
	60% {
		margin-bottom: -0.2rem;
	}
	70% {
		margin-bottom: 0.15rem;
	}
	80% {
		margin-bottom: -0.15rem;
	}
	90% {
		margin-bottom: 0.1rem;
	}
	100% {
		margin-bottom: 2rem;
	}
}

@keyframes up-in {
	0% {
		margin-bottom: -50rem;
	}
	10% {
		margin-bottom: -0.5rem;
	}
	20% {
		margin-bottom: 2.5rem;
	}
	30% {
		margin-bottom: -0.45rem;
	}
	40% {
		margin-bottom: 1.5rem;
	}
	50% {
		margin-bottom: 0.25rem;
	}
	60% {
		margin-bottom: -0.2rem;
	}
	70% {
		margin-bottom: 0.15rem;
	}
	80% {
		margin-bottom: -0.15rem;
	}
	90% {
		margin-bottom: 0.1rem;
	}
	100% {
		margin-bottom: 2rem;
	}
}

@-webkit-keyframes fade-in {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@-moz-keyframes fade-in {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@-ms-keyframes fade-in {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@-o-keyframes fade-in {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes fade-in {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes art-fonts {
	0% {
		font-family: 'Shizuru-Regular';
	}
	20% {
		font-family: 'Arcane-Nine-Regular';
	}
	40% {
		font-family: 'Licorice-Regular';
	}
	80% {
		font-family: 'VALORANT-Regular';
	}
	100% {
		font-family: 'Shizuru-Regular';
	}
}

@-webkit-keyframes art-fonts {
	0% {
		font-family: 'Shizuru-Regular';
	}
	20% {
		font-family: 'Arcane-Nine-Regular';
	}
	40% {
		font-family: 'Licorice-Regular';
	}
	80% {
		font-family: 'VALORANT-Regular';
	}
	100% {
		font-family: 'Shizuru-Regular';
	}
}

@-moz-keyframes art-fonts {
	0% {
		font-family: 'Shizuru-Regular';
	}
	20% {
		font-family: 'Arcane-Nine-Regular';
	}
	40% {
		font-family: 'Licorice-Regular';
	}
	80% {
		font-family: 'VALORANT-Regular';
	}
	100% {
		font-family: 'Shizuru-Regular';
	}
}

@-ms-keyframes art-fonts {
	0% {
		font-family: 'Shizuru-Regular';
	}
	20% {
		font-family: 'Arcane-Nine-Regular';
	}
	40% {
		font-family: 'Licorice-Regular';
	}
	80% {
		font-family: 'VALORANT-Regular';
	}
	100% {
		font-family: 'Shizuru-Regular';
	}
}

@-o-keyframes art-fonts {
	0% {
		font-family: 'Shizuru-Regular';
	}
	20% {
		font-family: 'Arcane-Nine-Regular';
	}
	40% {
		font-family: 'Licorice-Regular';
	}
	80% {
		font-family: 'VALORANT-Regular';
	}
	100% {
		font-family: 'Shizuru-Regular';
	}
}

@keyframes art-fonts {
	0% {
		font-family: 'Shizuru-Regular';
	}
	20% {
		font-family: 'Arcane-Nine-Regular';
	}
	40% {
		font-family: 'Licorice-Regular';
	}
	80% {
		font-family: 'VALORANT-Regular';
	}
	100% {
		font-family: 'Shizuru-Regular';
	}
}

@-webkit-keyframes blink {
    from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}

@-moz-keyframes blink {
    from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}

@-ms-keyframes blink {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}

@-o-keyframes blink {
    from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}

@keyframes blink {
    from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}

@media (min-width: 801px) {
	@-webkit-keyframes up-in {
		0% {
			margin-bottom: -100vh;
		}
		10% {
			margin-bottom: -1vh;
		}
		20% {
			margin-bottom: 5vh;
		}
		30% {
			margin-bottom: -0.7vh;
		}
		40% {
			margin-bottom: 3vh;
		}
		50% {
			margin-bottom: 0.5vh;
		}
		60% {
			margin-bottom: -0.4vh;
		}
		70% {
			margin-bottom: 0.3vh;
		}
		80% {
			margin-bottom: -0.3vh;
		}
		90% {
			margin-bottom: 0.2vh;
		}
		100% {
			margin-bottom: 0vh;
		}
	}
	
	@-moz-keyframes up-in {
		0% {
			margin-bottom: -100vh;
		}
		10% {
			margin-bottom: -1vh;
		}
		20% {
			margin-bottom: 5vh;
		}
		30% {
			margin-bottom: -0.7vh;
		}
		40% {
			margin-bottom: 3vh;
		}
		50% {
			margin-bottom: 0.5vh;
		}
		60% {
			margin-bottom: -0.4vh;
		}
		70% {
			margin-bottom: 0.3vh;
		}
		80% {
			margin-bottom: -0.3vh;
		}
		90% {
			margin-bottom: 0.2vh;
		}
		100% {
			margin-bottom: 0vh;
		}
	}
	
	@-ms-keyframes up-in {
		0% {
			margin-bottom: -100vh;
		}
		10% {
			margin-bottom: -1vh;
		}
		20% {
			margin-bottom: 5vh;
		}
		30% {
			margin-bottom: -0.7vh;
		}
		40% {
			margin-bottom: 3vh;
		}
		50% {
			margin-bottom: 0.5vh;
		}
		60% {
			margin-bottom: -0.4vh;
		}
		70% {
			margin-bottom: 0.3vh;
		}
		80% {
			margin-bottom: -0.3vh;
		}
		90% {
			margin-bottom: 0.2vh;
		}
		100% {
			margin-bottom: 0vh;
		}
	}
	
	@-o-keyframes up-in {
		0% {
			margin-bottom: -100vh;
		}
		10% {
			margin-bottom: -1vh;
		}
		20% {
			margin-bottom: 5vh;
		}
		30% {
			margin-bottom: -0.7vh;
		}
		40% {
			margin-bottom: 3vh;
		}
		50% {
			margin-bottom: 0.5vh;
		}
		60% {
			margin-bottom: -0.4vh;
		}
		70% {
			margin-bottom: 0.3vh;
		}
		80% {
			margin-bottom: -0.3vh;
		}
		90% {
			margin-bottom: 0.2vh;
		}
		100% {
			margin-bottom: 0vh;
		}
	}
	
	@keyframes up-in {
		0% {
			margin-bottom: -100vh;
		}
		10% {
			margin-bottom: -1vh;
		}
		20% {
			margin-bottom: 5vh;
		}
		30% {
			margin-bottom: -0.7vh;
		}
		40% {
			margin-bottom: 3vh;
		}
		50% {
			margin-bottom: 0.5vh;
		}
		60% {
			margin-bottom: -0.4vh;
		}
		70% {
			margin-bottom: 0.3vh;
		}
		80% {
			margin-bottom: -0.3vh;
		}
		90% {
			margin-bottom: 0.2vh;
		}
		100% {
			margin-bottom: 0vh;
		}
	}
}