#root {
	background-color: #0f0f0f;
}

.--fade-in {
	opacity: 0;

	-webkit-animation: fade-in 0.2s ease-in-out 1 0s forwards;
	-moz-animation:    fade-in 0.2s ease-in-out 1 0s forwards;
	-o-animation: 	   fade-in 0.2s ease-in-out 1 0s forwards;
	animation: 		   fade-in 0.2s ease-in-out 1 0s forwards;
}

.--bounce-in {
	-webkit-animation: bounce-in 1.5s cubic-bezier(0.075, 0.82, 0.165, 1) 1;
    -moz-animation:    bounce-in 1.5s cubic-bezier(0.075, 0.82, 0.165, 1) 1;
    -o-animation: 	   bounce-in 1.5s cubic-bezier(0.075, 0.82, 0.165, 1) 1;
    animation: 		   bounce-in 1.5s cubic-bezier(0.075, 0.82, 0.165, 1) 1;
}

.--blink {
	-webkit-animation: blink 0.8s ease-in-out 1 0s forwards;
	-moz-animation:    blink 0.8s ease-in-out 1 0s forwards;
	-o-animation: 	   blink 0.8s ease-in-out 1 0s forwards;
	animation: 		   blink 0.8s ease-in-out 1 0s forwards;
}

.--slide-in {
	-webkit-transform: translateX(100vw);
	-moz-transform:    translateX(100vw);
	-o-transform:      translateX(100vw);
	transform:		   translateX(100vw);

	-webkit-animation: slide-in 0.5s ease-in-out 1 0s forwards;
	-moz-animation:    slide-in 0.5s ease-in-out 1 0s forwards;
	-o-animation: 	   slide-in 0.5s ease-in-out 1 0s forwards;
	animation: 		   slide-in 0.5s ease-in-out 1 0s forwards;
}

.--slide-in-reverse {
	-webkit-transform: translateX(-100vw);
	-moz-transform:    translateX(-100vw);
	-o-transform:      translateX(-100vw);
	transform:		   translateX(-100vw);

	-webkit-animation: slide-in-reverse 0.5s ease-in-out 1 0s forwards;
	-moz-animation:    slide-in-reverse 0.5s ease-in-out 1 0s forwards;
	-o-animation: 	   slide-in-reverse 0.5s ease-in-out 1 0s forwards;
	animation: 		   slide-in-reverse 0.5s ease-in-out 1 0s forwards;
}

.--descend-in {
	-webkit-transform: translateY(-100vh);
	-moz-transform:    translateY(-100vh);
	-o-transform:      translateY(-100vh);
	transform:		   translateY(-100vh);

	-webkit-animation: descend-in 0.5s ease-in-out 1 0s forwards;
	-moz-animation:    descend-in 0.5s ease-in-out 1 0s forwards;
	-o-animation: 	   descend-in 0.5s ease-in-out 1 0s forwards;
	animation: 		   descend-in 0.5s ease-in-out 1 0s forwards;
}

.--descend-in-reverse {
	-webkit-transform: translateY(100vh);
	-moz-transform:    translateY(100vh);
	-o-transform:      translateY(100vh);
	transform:		   translateY(100vh);

	-webkit-animation: descend-in-reverse 0.5s ease-in-out 1 0s forwards;
	-moz-animation:    descend-in-reverse 0.5s ease-in-out 1 0s forwards;
	-o-animation: 	   descend-in-reverse 0.5s ease-in-out 1 0s forwards;
	animation: 		   descend-in-reverse 0.5s ease-in-out 1 0s forwards;
}

.--zoom-in {
	-webkit-animation: zoom-in 0.5s ease-in-out 1 0s forwards;
    -moz-animation:    zoom-in 0.5s ease-in-out 1 0s forwards;
    -o-animation: 	   zoom-in 0.5s ease-in-out 1 0s forwards;
    animation: 		   zoom-in 0.5s ease-in-out 1 0s forwards;
}

.--infinite-animation {
	-webkit-animation-iteration-count: infinite !important;
    -moz-animation-iteration-counte:   infinite !important;
    -o-animation-iteration-count:	   infinite !important;
    animation-iteration-count:		   infinite !important;
}

.--rasterized-button {
	background-color: transparent;
	outline: none;
	border: transparent;
	padding: 0;
}

.--bg-color-ease-in {
	-webkit-transition: background-color ease-in-out 0.2s;
    -moz-transition:    background-color ease-in-out 0.2s;
    -o-transition:      background-color ease-in-out 0.2s;
	transition:         background-color ease-in-out 0.2s;
}

.--opacity-ease-in {
	-webkit-transition: opacity ease-in-out 0.2s;
    -moz-transition:    opacity ease-in-out 0.2s;
    -o-transition:      opacity ease-in-out 0.2s;
	transition:         opacity ease-in-out 0.2s;
}

.--transform-ease-in {
	-webkit-transition: transform ease-in-out 0.2s;
    -moz-transition:    transform ease-in-out 0.2s;
    -o-transition:      transform ease-in-out 0.2s;
	transition:         transform ease-in-out 0.2s;
}

.--flex-center {
	display: flex;
	align-items: center;
	justify-content: center;
}

.--page {
	height: 100vh;
	width: 100vw;
	overflow: hidden;
}