$--backdrop-filter: blur(20px) saturate(1.7);
$--backdrop-background-color: rgba(190, 193, 198, 0.5);
$--backdrop-primary-color-light: #242525;
$--backdrop-primary-color-dark: #3e4344;

$--pill-border-radius: 5vh;
$--squircle-border-radius: 1.5vh;