$--backdrop-filter: blur(20px) saturate(1.7);
$--backdrop-background-color: rgba(190, 193, 198, 0.7);
$--backdrop-background-color-mobile: rgba(190, 193, 198, 1);
$--backdrop-primary-color-light: #242525;
$--backdrop-primary-color-dark: #3e4344;
$--accent-color: #e2e8f0;
$--green-accent-color: #0b997d;
$--selected-color: #345C54;
$--grey-background-color: #343434;
$--green-background-color: #345C54;
$--light-background-color: #303030;

$--pill-border-radius: 5vh;
$--squircle-border-radius: 1.5vh;

$--max-z-index: 5;