.blogs {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 4vh;

	> ul {
		width: 100%;
		display: flex;
		flex-direction: column;
		gap: 4vh;
        list-style: none;
	}
}

@media only screen and (min-width: $--min-desktop-width){
	.blogs {
		> ul {
			gap: 2vh;
		}
	}
}