.blogs {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1.25em;

    &__list {
        display: flex;
	    flex-direction: column;
	    width: 100%;
	    gap: 1.25em;
        list-style: none;
    }
}

@media only screen and (min-width: $--min-desktop-width) {
    .blogs {
        &[data-is-showcasing="true"] {
            flex-direction: row;

            > .blog-card {
                width: 80%;
                max-width: 40em;
                flex-direction: column;
                font-size: 0.9em;

                .blog-card {
                    &__info {
                        flex: 1;
                        gap: 1em;
                        padding-top: $--desktop-padding * 0.2;
                    }

                    &__thumbnail {
                        width: 100%;
                        height: auto;
                        max-width: 35vw;
                    }
                }
            }
        }

        &__list {
            .blog-card {
                font-size: 0.75em;

                &__info {
                    gap: 1em;
                    max-height: 8vw;
                    overflow-y: auto;
                    padding: $--desktop-padding * 0.5;
                    padding-top: $--desktop-padding * 0.25;
                }
            }
        }
    }
}