$--gap: 3vh;

.jobs {
    list-style: none;
	width: 100%;
    display: flex;
	flex-direction: column;
    gap: $--gap;

    > li {
        width: 100%;
        height: 100%;
    }
}

@media only screen and (min-width: $--min-tablet-width){
	.jobs {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(55vh, 1fr));
	}
}