.jobs {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 4vh;

	> ul {
		display: flex;
		flex-direction: column;
		gap: 4vh;
        list-style: none;
	}
}

@media only screen and (orientation: landscape) {
	.jobs {
		flex-direction: row;
		gap: 25vh;

		> ul {
			border-left: solid 1px rgba(128, 128, 128, 0.13);
			padding: 2vh;
			max-height: 40vh;
			overflow-y: auto;
		}
	}
}