.jobs {
	width: 100%;

	> ul {
		display: flex;
		flex-direction: column;
		gap: 4vh;
        list-style: none;
	}
}

@media only screen and (orientation: landscape) {
	.jobs {
        > ul {
		    flex-direction: row;
            flex-wrap: wrap;
		    gap: 5vh;

            > li {
                width: calc(50% - 5vh);
            }
        }
	}
}