.languages {
    width: 100%;
    position: fixed;
    bottom: 0;
	background-color: $--accent-color;
    align-items: center;
    z-index: 2;
    padding: ($--home-margin-mobile / 6) 0;

    &__list {
        list-style: none;
        gap: 1vh;

        li {
            border: 1px solid $--backdrop-background-color-mobile;

            &[data-is-selected="true"] {
                background-color: $--selected-color;
                border-color: $--selected-color;

                a {
                    color: $--accent-color;
                }
            }

            a {
                width: 100%;
                padding: 1vh 1.6vh;
                text-decoration: none;
                font-family: 'Roboto Condensed';
                font-weight: 500;
                font-size: 1.25vh;
                color: $--backdrop-background-color-mobile;
                text-align: center;
            }

            &:active,
            &:focus,
            &:focus-within,
            &:hover  {
                &[data-is-selected="false"] {
                    background-color: $--backdrop-background-color-mobile;

                    a {
                        color: $--accent-color;
                    }
                }
            }
        }
    }
}

@media only screen and (min-width: 801px) {
    .languages {
        bottom: initial;
        top: 0;
        padding: ($--home-margin / 5) 0;

        li {
            a {
                padding: 0.6vh 1.5vh;
                font-size: 1.35vh;
            }

            &:hover {
                &[data-is-selected="true"] {
                    a {
                        cursor: default;
                    }
                }
            }
        }
    }
}