.languages {
    height: $--home-margin-mobile - .1dvh;
    align-items: center;
    justify-content: center;
    background-color: adjust-color(
        $color: $--background-color,
        $alpha: -0.15
    );

    -webkit-transition: opacity ease-in-out 0.2s, background-color ease-in-out 0.2s;
    -moz-transition:    opacity ease-in-out 0.2s, background-color ease-in-out 0.2s;
    -o-transition:      opacity ease-in-out 0.2s, background-color ease-in-out 0.2s;
    transition:         opacity ease-in-out 0.2s, background-color ease-in-out 0.2s;

    &__list {
        list-style: none;
        gap: 1vh;

        li {
            border: 1px solid $--dark-grey-color;

            &[data-is-selected="true"] {
                background-color: $--selected-background-color;
                border-color: $--selected-background-color;

                a {
                    color: $--selected-color;
                }
            }

            a {
                width: 100%;
                padding: 1vh 1.6vh;
                text-decoration: none;
                font-family: 'Roboto Condensed';
                font-weight: 500;
                font-size: 1.25vh;
                color: $--dark-grey-color;
                text-align: center;
            }

            &:active,
            &:focus,
            &:focus-within,
            &:hover  {
                &[data-is-selected="false"] {
                    background-color: $--dark-grey-color;

                    a {
                        color: $--accent-color;
                    }
                }
            }
        }
    }
}

@media only screen and (min-width: $--min-desktop-width) {
    .languages {
        height: $--home-margin - 0.1dvh;

        li {
            a {
                padding: 0.6vh 1.5vh;
                font-size: 1.35vh;
            }

            &:hover {
                &[data-is-selected="true"] {
                    a {
                        cursor: default;
                    }
                }
            }
        }
    }
}