.menu {
    margin-top: auto;
    gap: 1.5vh;
    list-style: none;

    li {
        display: flex;
        align-items: center;
        height: 5vh;
        position: relative;

        &:active,
        &:focus,
        &:focus-within,
        &:hover {
            span {
                color: $--accent-color;
                background-color: $--backdrop-background-color-mobile;

                box-shadow:         $--box-shadow;
                -webkit-box-shadow: $--box-shadow;
                -moz-box-shadow:    $--box-shadow;
            }
            
            div {
                width: 100%;
            }
        }

        span {
            display: flex;
            align-items: center;
            min-height: 4vh;
            padding: 1vh 2vh;
            font-family: 'Roboto Condensed';
            font-size: 2vh;
            margin-left: 0.5vh;
            z-index: 1;
            color: $--backdrop-background-color-mobile;

            -webkit-transition: background-color ease-in-out 0.2s, box-shadow ease-in-out 0.2s;
            -moz-transition:    background-color ease-in-out 0.2s, box-shadow ease-in-out 0.2s;
            -o-transition:      background-color ease-in-out 0.2s, box-shadow ease-in-out 0.2s;
            transition:         background-color ease-in-out 0.2s, box-shadow ease-in-out 0.2s;        
        }

        div {
            position: absolute;
            width: 0.25vh;
            height: 100%;
            background-color: #4d4d4d;
            z-index: 0;

            -webkit-transition: width ease-in-out 0.2s;
            -moz-transition:    width ease-in-out 0.2s;
            -o-transition:      width ease-in-out 0.2s;
            transition:         width ease-in-out 0.2s;
        }

        a {
            align-items: center;
            text-decoration: none;
        }
    }
}

@media only screen and (min-width:1025px){
    .menu {
        li {
            &:hover {
                cursor: pointer;

                div {
                    width: 100%;
                }
            }

            span {
                font-size: 2.25vh;
            }
        }
    }
}