.menu {
    margin-top: auto;
    gap: 1.25em;
    list-style: none;

    li {
        display: flex;
        align-items: center;
        height: 2em;
        position: relative;

        &:active,
        &:focus,
        &:focus-within,
        &:hover {
            span {
                color: $--accent-color;
                background-color: $--dark-grey-color;

                box-shadow:         $--box-shadow;
                -webkit-box-shadow: $--box-shadow;
                -moz-box-shadow:    $--box-shadow;
            }
            
            div {
                width: 100%;
            }
        }

        span {
            display: flex;
            align-items: center;
            min-height: 1.5em;
            padding: 0.6em 1em;
            font-family: 'Roboto Condensed';
            font-size: 1em;
            margin-left: 0.25em;
            z-index: 1;
            color: $--dark-grey-color;

            -webkit-transition: color ease-in-out 0.2s, background-color ease-in-out 0.2s, box-shadow ease-in-out 0.2s;
            -moz-transition:    color ease-in-out 0.2s, background-color ease-in-out 0.2s, box-shadow ease-in-out 0.2s;
            -o-transition:      color ease-in-out 0.2s, background-color ease-in-out 0.2s, box-shadow ease-in-out 0.2s;
            transition:         color ease-in-out 0.2s, background-color ease-in-out 0.2s, box-shadow ease-in-out 0.2s;
        }

        div {
            position: absolute;
            width: 0.15em;
            height: 100%;
            background-color: $--dark-grey-color;
            z-index: 0;

            -webkit-transition: width ease-in-out 0.2s;
            -moz-transition:    width ease-in-out 0.2s;
            -o-transition:      width ease-in-out 0.2s;
            transition:         width ease-in-out 0.2s;
        }

        a {
            width: 100%;
            align-items: center;
            text-decoration: none;
        }
    }
}

@media only screen and (min-width: $--min-desktop-width) {
    .menu {
        li {
            &:hover {
                cursor: pointer;

                div {
                    width: 100%;
                }
            }

            span {
                font-size: 1.15em;
            }
        }
    }
}