.projects {
	display: flex;
    flex-direction: column;
	width: 100%;
	gap: 3vh;
    list-style: none;
}

@media only screen and (min-width: $--min-desktop-width) {
    .projects {
        flex-direction: row;

        > li {
            flex: 1;
        }
    }
}