.projects {
	display: flex;
	flex-direction: column;
	width: 100%;
	gap: 2vh;
	overflow-y: auto;
    list-style: none;
}

@media only screen and (min-width: $--min-tablet-width){
	.projects {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(35vw, 1fr));
	}
}

@media only screen and (min-width: $--min-desktop-width){
	.projects {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(19vw, 1fr));
	}
}