.tags {
	width: 100%;
	flex-wrap: wrap;
	gap: 1vh;

	li {
        align-items: center;
        justify-content: center;
		gap: 0 1vh;
        min-height: 1rem;
        padding: 0.35rem 0.5rem;
		background-color: $--selected-color;
		color: $--accent-color;

        -webkit-transition: background-color ease-in-out 0.2s;
        -moz-transition:    background-color ease-in-out 0.2s;
        -o-transition:      background-color ease-in-out 0.2s;
        transition:         background-color ease-in-out 0.2s;

		svg {
			height: 1rem;
			width: 1rem;
		}

		span {
			font-family: 'Inter';
			font-weight: 700;
			font-size: 0.6rem;
		}
	}
}

@media only screen and (orientation: landscape) {
	.tags {
		li {
            padding: 0.5vh 1vh;

			svg {
				height: 1.2vh;
				width: 1.2vh;
			}

			span {
				font-size: 1.2vh;
			}
		}
	}
}