.tags {
	width: 100%;
	flex-wrap: wrap;
	gap: 0.5vh;

	li {
        align-items: center;
        justify-content: center;
		gap: 0 1vh;
        padding: 0.35rem 0.5rem;
		background-color: $--black;
		color: $--white;

		svg {
			height: 0.8rem;
			width: 0.8rem;

            path {
                fill: $--white;
                stroke: $--black;

                -webkit-transition: fill ease-in-out 0.2s, stroke ease-in-out 0.2s;
                -moz-transition:    fill ease-in-out 0.2s, stroke ease-in-out 0.2s;
                -o-transition:      fill ease-in-out 0.2s, stroke ease-in-out 0.2s;
                transition:         fill ease-in-out 0.2s, stroke ease-in-out 0.2s;
            }
		}

		span {
			font-family: 'Roboto Condensed';
			font-weight: 500;
			font-size: 0.7rem;
		}
	}
}

@media only screen and (min-width: $--min-tablet-width){
	.tags {
		li {
            padding: min(0.8vh, 0.6rem) min(1.2vh, 1rem);

			svg {
				height: min(1.5vh, 0.8rem);
				width: min(1.5vh, 0.8rem);
			}

			span {
				font-size: min(2vh, 0.75rem);
			}
		}
	}
}