.tags {
	width: 100%;
	flex-wrap: wrap;
	gap: 0.5em;

	li {
        align-items: center;
        justify-content: center;
		gap: 0 0.4em;
        padding: 0.35em 0.5em;
		background-color: $--black;
		color: $--white;

		svg {
			height: 0.8em;
			width: 0.8em;

            path {
                fill: $--white;
                stroke: $--black;

                -webkit-transition: fill ease-in-out 0.2s, stroke ease-in-out 0.2s;
                -moz-transition:    fill ease-in-out 0.2s, stroke ease-in-out 0.2s;
                -o-transition:      fill ease-in-out 0.2s, stroke ease-in-out 0.2s;
                transition:         fill ease-in-out 0.2s, stroke ease-in-out 0.2s;
            }
		}

		span {
			font-family: 'Roboto Condensed';
			font-weight: 500;
			font-size: 0.7em;
		}
	}
}

@media only screen and (min-width: $--min-tablet-width) {
	.tags {
		li {
            padding: 0.6em 1em;

			svg {
				height: 0.8em;
				width: 0.8em;
			}

			span {
				font-size: 0.8em;
			}
		}
	}
}