$--max-z-index: 5;

$--initial-fade-duration: 0.6s;

$--min-tablet-width: 768px;
$--min-desktop-width: 1380px;

$--focus-in-base-blur: 20px;

$--mobile-padding: 1rem;
$--desktop-padding: 1.25rem;

$--home-margin: 3em;
$--home-margin-mobile: 3em;